[2015-07-17 14:17] rosariorobinson opened #9 "New Field on Info Hub"
Peace Corps wants an additional field so that they can add an article or link from an external source. It would be nice to have them enter a URL in a new field (maybe call it "external resource", we can get the confirmed label name from them) and then if there is a default image associated with the article, we post it like a Facebook post or Twitter post.

@Nerdylicious

[2015-07-18 03:25] Nerdylicious commented on #9
@rosariorobinson could you explain in more detail what the default image is for? Is the default image from the article? Where is the image posted? What is the purpose of this feature?

When the PCV clicks on the link, it should open up on the browser on the mobile device?

[2015-07-18 03:27] Nerdylicious commented on #9
@rosariorobinson I should post these questions on the Google Doc we're sharing with Peace Corps.

[2015-07-21 03:12] Nerdylicious opened #10 "Add input validation for Edit User Profile fields"
Add input validation for the following fields:
- [ ] First Name
- [ ] Last Name
- [ ] Mobile
- [ ] Email
- [ ] Gender
- [ ] Location

Input validation includes not allowing certain special characters, having a maximum length for each field and following a specific format/regex for applicable fields (for example, the phone number field).

[2015-07-21 03:19] Nerdylicious opened #11 "Fix change password functionality"
Fix the change password functionality so that it checks that the **New Password** field and **Confirm Password** field match. Currently, the form is not checking whether the input to these 2 fields match.

[2015-07-21 03:22] Nerdylicious opened #12 "Add dropdown for Gender in Edit Profile form"
Right now, gender is entered in a text field. Gender should be selected from a dropdown (or radio buttons) instead.

[2015-07-21 03:24] Nerdylicious opened #13 "Create Pcuser automatically"
When the application is installed for the first time, the user creates a superuser and is required to create a Pcuser in the Django admin interface (that corresponds to the superuser). This should be done automatically.

[2015-07-21 03:27] Nerdylicious opened #14 "Fix cancel button in Edit Profile form"
Clicking on the Cancel button in the Edit Profile form will submit the form (instead of canceling).

[2015-07-21 04:38] Nerdylicious opened #15 "Rename infohub Django app to macc"
Rename infohub (the app that contains project settings) to macc, since MACC is the name of the project.

[2015-07-21 04:39] Nerdylicious opened #16 "Move registration functionality to its own Django app"
For better cohesiveness and less coupling.

[2015-07-21 04:40] Nerdylicious opened #17 "Move authentication functionality to its own Django app"
For better cohesiveness and less coupling.

[2015-07-21 04:41] Nerdylicious opened #18 "Move user profile functionality to its own Django app"
For better cohesiveness and less coupling.

[2015-07-21 04:42] Nerdylicious opened #19 "Move Malaria API functionality to its own Django app"
Separate web app Malaria functionality and Malaria API functionality for better cohesiveness.

[2015-07-21 04:43] Nerdylicious opened #20 "Move PeaceTrack API functionality to its own Django app"
Separate web app PeaceTrack functionality and PeaceTrack API functionality for better cohesiveness.

[2015-07-23 03:41] #19 closed, assigned to Nerdylicious

[2015-08-04 11:57] Nerdylicious opened #21 "Profile button not visible on small screens and windows"
Fix profile button so that it's still visible on small screens and windows.

[2015-08-04 11:57] Nerdylicious opened #22 "Logout button not visible on small screens and windows"
Fix logout button so that it's still visible on small screens and windows.

[2015-08-05 02:55] daisyab opened #23 "Cannot navigate to intended page after login"
When user is logged out and inputs a URL that requires login credentials, user is taken to the login page.  After logging in, however, the application does not navigate to the intended page.

[2015-08-06 15:30] rosariorobinson commented on #15
Can we close this issue now?

[2015-08-06 15:43] rosariorobinson commented on #23
Daisy, is this just at the front page when logging into MACC itself? Has this been resolved? @Nerdylicious @maria

[2015-08-06 16:31] Neetuj commented on #15
But there is not pull request .. where is the change?

[2015-08-07 04:53] daisyab commented on #23
@rosariorobinson yes, just when logging into the MACC.  The page should navigate to the URL that was requested after the user has logged in.  What happens is that the home page is loaded, then the user will have to manually navigate to the target page.

[2015-08-07 05:29] Nerdylicious commented on #15
@rosariorobinson @Neetuj

I haven't changed this yet. This isn't a high priority task, I can try to get to this later though.

[2015-08-07 05:32] Nerdylicious commented on #23
@daisyab

Daisy, what do you mean by intended page?

After you login, you should get redirected automatically to the page that says "Peace Corps Hub" where you can choose from the Malaria and PeaceTrack sections.

[2015-08-07 06:07] daisyab commented on #23
By intended page, I mean the page the user wants to access when he inputs a URL.

When the user is logged out and he types a URL ( for example, http://localhost:8001/malaria/list_posts/ and clicks on New Post), the user will be redirected to the login page and he will have to login.  After logging in, the user will be redirected to the Peace Corps Hub page where he will have to navigate his way to

[2015-08-07 12:43] Neetuj commented on #15
Agree

Sent from my iPhone

[2015-08-07 17:06] Nerdylicious commented on #23
@daisyab , the user is required to login to be able to access any of the features. The user should not be able to access any features unless they are logged in. For example, if you user goes to localhost:8001/malaria/list_posts/ without logging in, they **should** get redirected to the login page (because they aren't allowed to access features unless they have authenticated). I hope this makes sen

[2015-08-07 18:43] Neetuj commented on #23
I think what Daisy is saying is "After logging in, however, the application
does not navigate to the intended page"

Usually the UX is designed such that if a page requires user to login to be
able to render anything on that page the convention is
1) point the user to the login page
2) after user logs in successfully then take user to the pages he/she was
trying to access (without having to naviga

[2015-08-07 18:46] Neetuj commented on #23
Thanks for submitting the bug @daisyab   @Nerdylicious  can you confirm the bug by
1) logging out
2) accessing a URL (which is not the home/hub page)

Once you do that we can decide if it needs to be closed or worked on  and to what priority.

[2015-08-07 18:48] Neetuj commented on #22
lets  prioritize/label  based on bugs/enhancements/newfeatures e.t.c

[2015-08-07 18:51] Neetuj commented on #9
I think we resolved the requirements for this .. is that correct?
If so we should add the precise requirements here.

[2015-08-07 19:17] Nerdylicious commented on #23
@daisyab @Neetuj

Thanks Neetu for clarifying this, I understand what the issue is now.

Daisy is right, the login page will always bring us to the main homepage each time. This issue needs to be worked on. What priority should we set this to? It's don't think this would be considered a critical bug so I would probably set it to low/medium priority.

[2015-08-07 19:19] Nerdylicious commented on #9
@Neetuj @rosariorobinson, I posted my questions on the Google Doc that we're sharing with Peace Corps but so far I haven't gotten a reply.

[2015-08-07 19:20] Neetuj commented on #9
ok my bad .. i thought we already got a response on this. sorry

On Fri, Aug 7, 2015 at 2:19 PM, Irish Medina notifications@github.com
wrote:

[2015-08-07 19:20] Nerdylicious commented on #22
@Neetuj , should I add labels such as "Low Priority", "Medium Priority", "High Priority"? This is a great idea.

[2015-08-07 19:20] Neetuj commented on #23
yes .. we can call it a enhancement (for UX purposes) or a low priority bug

On Fri, Aug 7, 2015 at 2:17 PM, Irish Medina notifications@github.com
wrote:

[2015-08-07 19:22] Neetuj commented on #22
yes categorize all issues  in "bugs/enhancements/newfeatures" and then add
a second level of degree to it by "low/medium/high/critical priority" in my
opinion.   we can wait for Rose's inputs on this

On Fri, Aug 7, 2015 at 2:20 PM, Irish Medina notifications@github.com
wrote:

[2015-08-07 20:39] rosariorobinson commented on #9
I'm working on making sure you get the responses you need. Is this holding you up @Nerdylicious?

[2015-08-07 20:46] rosariorobinson commented on #23
we have general labels for priority and issue type. check those first.

[2015-08-08 02:41] Nerdylicious commented on #9
@rosariorobinson, it's not holding me up (I've just been writing tests and fixing/improving a lot of the code in the meantime, I have many things to do still) but getting responses from Peace Corps has been very slow.

[2015-08-08 02:53] Nerdylicious commented on #22
@Neetuj, I have categorized all issues into their respective priorities. If you have more suggestions please let me know!

[2015-08-14 02:39] Nerdylicious opened #24 "RevPost title_change and description_change boolean fields no longer required"
The `title_change` and `description_change` boolean fields in the RevPost model are no longer required/being used so they should be removed from the RevPost model.

[2015-08-14 02:45] Nerdylicious opened #25 "Rename malaria Django app to malaria_web"
Rename malaria to malaria_web to make it more clear that the code in this Django app implements functionality to be accessed on the user's browser (and is not API code).

[2015-08-14 03:14] Nerdylicious opened #26 "Move styling into CSS files instead of embedded in HTML"
Move styling into CSS files instead of embedded in HTML to separate the content (HTML) from the presentation (CSS).

[2015-08-18 11:20] Nerdylicious opened #28 "Allow the ' character to be entered in the Post description field"
Input validation is currently not allowing the ' character in the Post description field.

[2015-08-21 02:09] Nerdylicious opened #31 "Write tasks for Google Code-In 2016"
Write tasks for Google Code-In 2015 (https://developers.google.com/open-source/gci/?hl=en) which Systers will be participating in. Assigning this to myself since I'm planning on being a mentor.

[2015-12-04 04:31] Neetuj commented on #31
+1

[2015-12-04 04:33] Neetuj commented on #11
i think this can be a good code in task

[2015-12-04 04:34] Neetuj commented on #12
this one =code in task?

[2015-12-05 05:07] Neetuj commented on #11
added this as a task

[2015-12-05 05:07] Neetuj commented on #10
added this as a task

[2015-12-05 05:07] Neetuj commented on #12
added this as a task

[2015-12-05 05:08] Neetuj commented on #31
added some initial setup tasks and picked up 3 bugs from the issue list as tasks ..not sure how many students we are getting but lets talk more on what all tasks we can add

[2015-12-07 08:21] balasankarc commented on #12
Gender being a textbox is actually better than giving options. Take a look at http://www.sarahmei.com/blog/2010/11/26/disalienation/

[2015-12-12 18:47] goelakash commented on #12
There is a js script that can be used to make editable drop-downs :
http://www.dhtmlgoodies.com/scripts/form_widget_editable_select/form_widget_editable_select.html
https://www.zoonman.com/projects/combobox/

[2015-12-14 15:30] Neetuj commented on #11
https://github.com/peacecorps/app-web-server/search?utf8=%E2%9C%93&q=Confirm+password

[2015-12-14 15:30] Neetuj commented on #11
using abov link (basically a search you can find where to make this change ) ..its basically in 2 files .. when you setup the password or change the password

[2015-12-14 15:46] Neetuj commented on #22
@Nerdylicious . I am trying to add the beginner tasks to google cod in tasks .. it would be great if we could chat/talk sometime to add more meant/grub in these issues to help the kids to claim those tasks .. also identifying new beginner /small tasks will be needed soon

[2015-12-15 01:19] ishanqut commented on #11
Hi,

I am more inclined to have a text change listner on each text boxes and disable the button until both are equal to each other.

Or do you want to validate once the button is clicked? Which would be better?

Regards

P.S. I am working on this task through google code in

[2015-12-17 15:35] Neetuj commented on #11
@ishanqut where is the Pull request ?

[2015-12-18 22:11] ahmedsabie commented on #11
@Neetuj I see that the task is still open on the code in website. My pull request is at #32.

[2015-12-18 22:31] Neetuj commented on #11
I approved the task .. can you double check ?

On Fri, Dec 18, 2015 at 4:11 PM, ahmedsabie notifications@github.com
wrote:

[2015-12-18 22:33] ahmedsabie commented on #11
@Neetuj I didn't claim the task yet because my current task is still being reviewed. Can I claim it after?

[2015-12-18 22:35] Neetuj commented on #11
Hi

sorry I am not sure which task you are talking about
if its this one ..
Task instance for Ishan Joshi PCHB-Fix change password functionality
(Systers, an Anita Borg Institute Community)

then this was already claimed by Ishan

sorry for the confusion .. but if you are working on another task then this
is the sequence of events

1) claim

2) consult

3) make the change

4) PR

5) approve

On Fr

[2015-12-18 22:38] ahmedsabie commented on #11
oh yeah I am referring to this task, but I still see it on the Google Code in website. I didn't claim it because I am doing another task which is being reviewed, so I thought I would make the pull request first. What should I do?

[2015-12-18 22:50] Neetuj commented on #11
This is already done by ishan and approved

Sent from my iPhone

[2015-12-18 23:15] ahmedsabie commented on #11
ah ok I didn't know that. Thanks for letting me know.

[2016-01-18 18:12] AaskaShah commented on #26
Could I work on this ?

[2016-01-19 02:25] ishanqut commented on #12
Isn't this already done? It's still up as a code in task. I'm a student doing Google Code In and came across this!

[2016-03-05 08:14] prafful002 commented on #12
If this issue is still open, can I work on it ?

[2016-03-05 14:00] khushbuparakh commented on #26
I want to work on this

[2016-03-06 06:11] prafful002 commented on #20
Can I start working on this issue if it has not been taken up by anyone else ?

[2016-03-08 13:34] prafful002 commented on #13
@Nerdylicious can you please review my PR and let me know if anything has to be changed ? Thank You.

[2016-03-09 05:01] medhach opened #48 "PeaceTrack page not showing Profile and Logout."
![selection_007](https://cloud.githubusercontent.com/assets/14357023/13625841/eded6970-e5e1-11e5-83a2-886fa07d3cd5.png)
The Profile and Logout links could be added here.

[2016-03-12 06:28] medhach commented on #18
I would like to work on this. I want to confirm if I understood it right.
It is to create a new app that shows the profiles of the volunteers? Let me know so I can start working on it. :)

[2016-03-23 19:07] medhach opened #50 "Make Login Page smaller, so there is no need of scroll"
It improves the quality of the page. :)

[2016-04-23 03:59] Neetuj commented on #31
this is done .. i guess we can close this

[2016-06-03 17:33] #50 closed, assigned to nobody

[2016-06-03 17:33] #48 closed, assigned to nobody

[2016-06-19 03:22] medhach commented on #16
#53

[2016-06-19 03:23] medhach commented on #20
@Nerdylicious This could be closed.

[2016-06-19 03:24] medhach commented on #31
@Neetuj @Nerdylicious Is there work still pending on this issue?

[2016-06-19 07:43] #16 closed, assigned to nobody

[2016-06-19 07:43] #20 closed, assigned to nobody

[2016-06-19 07:45] Nerdylicious commented on #31
@medhach We need to come up with more tasks for Google Code-in next year. So if you find a bug/improvement that you don't have time to do during the summer, just add it as an issue.

[2016-06-20 17:53] medhach opened #54 "Add unit-tests to signup"
Unit tests will help improve the application performance.

[2016-06-21 18:09] medhach commented on #17
@Nerdylicious Does this mean the login and logout?

[2016-06-21 18:55] medhach commented on #28
#55

[2016-06-22 06:09] Nerdylicious commented on #17
@medhach Yes, the login and logout.

[2016-06-24 16:14] medhach commented on #23
@Nerdylicious Is there any work pending on this issue?

[2016-06-25 07:42] Nerdylicious commented on #23
@medhach I don't think anyone has worked on this issue yet. You can work on it if you would like.

[2016-06-25 07:45] #28 closed, assigned to Nerdylicious

[2016-06-25 07:46] #26 closed, assigned to nobody

[2016-06-25 07:46] #25 closed, assigned to Nerdylicious

[2016-06-25 07:47] #24 closed, assigned to Nerdylicious

[2016-06-25 07:47] #18 closed, assigned to nobody

[2016-07-06 18:02] medhach opened #58 "Write tests for PCSA"
To test proper functioning of the app.

[2016-07-06 18:03] medhach opened #59 "Add PCSA logo picture in Dashboard"
Try to get a relevant picture to add in the Dashboard for PCSA app

[2016-07-13 05:56] medhach opened #61 "Add tests for Pcsa serializers"

[2016-11-27 09:20] medhach opened #65 "Change the repository name to Mobile App Control Center"
@MeepyMay @AngieSky
Since this repository is for the project Mobile App Control Center, I think we should change the name so it can be more apt and easy to find.

[2017-01-17 08:15] muddlebee commented on #58
@medhach can I work on this ?

[2017-01-17 13:22] medhach commented on #58
Sure, go ahead. :)

[2017-01-17 15:38] muddlebee opened #69 "Slack Channel ?"

[2017-01-17 16:56] muddlebee opened #70 "Improve UI ?"
Bootstrap or further improvement in UI ?

- [ ] Adding material fonts

- [ ] separate css folder.

- [ ] bootstrapping views

[2017-01-17 16:59] muddlebee opened #71 "Sign Up error"
Traceback (most recent call last):
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 86, in run
    self.finish_response()
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 128, in finish_response
    self.write(data)
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 212, in write
    self.send_headers()
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 270, in send_headers
    sel

[2017-01-17 17:10] muddlebee commented on #71
probably related to SMTP ?

[2017-01-17 17:21] muddlebee commented on #54
@medhach Im starting off with this first ? If you don't mind :)

[2017-01-17 17:40] muddlebee commented on #54
@medhach one doubt. the unit tests shall cover. tests for (https://github.com/systers/macc/blob/develop/signup/views.py) all the functions. and urls.py too ?
Are you active on slack ? If I need to discuss something it would be smooth over there. :)

[2017-01-17 18:53] muddlebee opened #72 "Unit test for urls"

[2017-01-17 21:48] anweshknayak commented on #58
#61 and this would be similar isn't it ?

[2017-01-23 11:24] medhach commented on #54
@anweshknayak Sure, you can start with this. The tests for all the functions should suffice. :)

[2017-01-29 14:13] #69 closed, assigned to nobody

[2017-02-02 05:57] muddlebee commented on #65
@medhach shall I do this ?

[2017-02-02 15:07] medhach commented on #65
@anweshknayak This is done. Im deleting it. :)

[2017-02-02 15:07] #65 closed, assigned to nobody

[2017-02-02 15:12] medhach commented on #9
@Neetuj @rosariorobinson @Nerdylicious Could you let us know the status of this issue as of now?

[2017-02-02 15:14] #10 closed, assigned to nobody

[2017-02-02 15:15] #11 closed, assigned to nobody

[2017-02-02 15:15] #12 closed, assigned to nobody

[2017-02-02 15:18] #14 closed, assigned to nobody

[2017-02-02 15:21] #17 closed, assigned to nobody

[2017-02-02 15:21] #31 closed, assigned to Nerdylicious

[2017-02-02 15:29] medhach commented on #70
@anweshknayak Can you give more details about what improvements you suggest?

[2017-02-02 15:30] medhach commented on #71
@anweshknayak Did you solve this?

[2017-02-02 16:29] muddlebee commented on #71
Nope. This problem I am facing  SMTP related. looks like compatibility issue ? @medhach

[2017-02-03 15:55] muddlebee commented on #13
@Nerdylicious  could you elaborate this issue ?

[2017-02-03 17:36] muddlebee commented on #15
@medhach can I claim this ? as no one has took it till now.

[2017-02-03 17:51] muddlebee commented on #70
@medhach Bootstrap is not being used much. I am thinking of making frontend more responsive and beautify it ? what do you say ?

[2017-02-03 18:03] muddlebee commented on #23
@medhach I would like to work on this :)

[2017-02-04 04:40] mish24 commented on #59
@medhach Can I get going with this?

[2017-02-04 04:45] mish24 commented on #9
@Nerdylicious Can I work on this? We can add an additional field for the link. I'm not so sure about the idea of adding a picture, because it's highly unlikely that the links would be from facebook or twitter.

[2017-02-04 05:01] mish24 commented on #22
@Nerdylicious By small screens and windows do you mean mobile browsers and emulating tools? I can work on this!

[2017-02-04 05:27] mish24 commented on #71
@anweshknayak I've had this kind of problem before. Nothing's wrong on your part. I suppose there's a glitch somewhere where two databases are being accessed simultaneously, hence slowing the server. I googled this "Broken pipe" issue and it's mentioned there that it's not necessary that everyone will face this issue.

[2017-02-04 07:07] muddlebee commented on #71
@mish24 can you fix this ?

[2017-02-04 09:10] mish24 commented on #71
@anweshknayak Yup I'll take this up. Mainly the problem is that there is a place where we've created an instance and called the save() method twice by accident.

[2017-02-04 09:11] mish24 commented on #72
@anweshknayak You're on it or can I take this up?

[2017-02-04 09:13] muddlebee commented on #72
@mish24 we can split this task. Confirm once with @medhach if these tests are to be added or not. It would be a good idea if url tests are included too. (http://stackoverflow.com/questions/18987051/how-do-i-unit-test-django-urls) .

[2017-02-04 09:27] mish24 commented on #72
@medhach Can we go ahead with this?

[2017-02-04 11:55] mish24 opened #76 "Separate the html and static files"
The templates have the css styling embedded in them. This causes a lot of problems in finding out common glitches as well. Also, #22 and #21 are also related to the same problem. I want to create an entire independent styling structure and resolved from the templates. @medhach Is this worth it?

[2017-02-04 11:55] muddlebee opened #77 "Removal of unwanted imports"
- [ ] webhub

- [ ] pcsa

- [ ] pcsa_GHN

[2017-02-05 16:48] mish24 opened #79 "Add automated tests for pcsa"
We can add automated tests for the app as well. Can someone please approve for the same?

[2017-02-05 20:34] muddlebee commented on #79
@mish24 There are tests already. And have been put up in the issue section

[2017-02-05 20:40] mish24 commented on #79
@anweshknayak Those are unit tests, I was talking about separate automated tests using webdrivers.

[2017-02-05 21:03] mish24 commented on #22
#80 Please review! @Nerdylicious This addresses the logout and profile button issue!

[2017-02-05 21:09] muddlebee commented on #79
Oh my bad.

[2017-02-05 21:37] muddlebee commented on #61
@medhach Im on it

[2017-02-06 16:47] medhach commented on #79
@mish24 That would be great! You can go ahead with it!

[2017-02-06 16:51] mish24 commented on #79
@medhach I'll send a pull request soon! :)

[2017-02-06 17:01] medhach commented on #72
@Nerdylicious @Neetuj What do you think?

[2017-02-06 17:03] medhach commented on #9
@mish24 This will be on hold. :)

[2017-02-06 17:04] medhach commented on #59
@mish24 Sure, go ahead!

[2017-02-06 17:12] medhach commented on #23
@anweshknayak Sure go ahead!

[2017-02-06 17:13] medhach commented on #70
Make the changes and post your screenshots here, we can discuss them better that way. :)

[2017-02-06 17:17] muddlebee commented on #70
@medhach On it

[2017-02-06 19:28] mish24 commented on #59
Hello! I was trying to find some pics to add to the homepage for macc, and
I came across these. Are these images fine? The picture we have currently
for malaria doesn't give any indication about it, but in this one there are
people with mosquito nets. I thought I'd ask once about the images before
sending a PR.

On Mon, Feb 6, 2017 at 10:34 PM, Medha Ch <notifications@github.com> wrote:

[2017-02-06 19:30] mish24 commented on #70
#76 Will this help you? @anweshknayak

[2017-02-06 19:38] mish24 opened #81 "Creating contact for pcsa"
![screenshot from 2017-02-07 13-04-40](https://cloud.githubusercontent.com/assets/24610197/22663193/ba012f78-ecd1-11e6-81aa-e4e001195604.png)

Is this functionality needed? There are no views or serializers for the same. In fact you cannot even create any contact. Is this supposed to stay or shall we remove this completely?

[2017-02-06 19:45] muddlebee commented on #76
@mish24 There is bootstrap library present already. Independent styling structure as in separate CSS classes ?

[2017-02-06 19:50] mish24 commented on #76
This. Create a new static folder and move all common css there.

On Tue, Feb 7, 2017 at 1:15 AM, Anwesh Nayak <notifications@github.com>
wrote:

[2017-02-06 19:55] muddlebee commented on #76
Yeah sounds good.

[2017-02-07 11:27] muddlebee opened #82 "CSS not rendered properly in Tablet View"
Tablet View:-
![ab](https://cloud.githubusercontent.com/assets/8139783/22689338/844bbe40-ed56-11e6-9da8-c0a46828b4fd.png)

vs.

Desktop View:-
![screenshot from 2017-02-07 16 58 45](https://cloud.githubusercontent.com/assets/8139783/22689363/af58a13e-ed56-11e6-99de-1a3ebe479c8e.png)

[2017-02-07 13:21] medhach commented on #70
@anweshknayak #82 is included in this isn't it? I yes, please close that issue. :)

[2017-02-07 13:29] medhach commented on #59
@mish24 Did you attach your photos?

[2017-02-07 15:17] muddlebee commented on #70
@medhach no it is a separate issue. Or shall I include that in this ? Please let me know

[2017-02-07 15:33] mish24 commented on #59
I did. I've sent them to you in the mail. I thought it would be better to
ask privately before adding the changes.

On Tue, Feb 7, 2017 at 6:59 PM, Medha Ch <notifications@github.com> wrote:

[2017-02-07 15:39] mish24 commented on #59
![macc_malaria](https://cloud.githubusercontent.com/assets/24610197/22698126/b2d8a048-ed79-11e6-8752-04a09ba3bb48.jpg)
![macc_pcsa](https://cloud.githubusercontent.com/assets/24610197/22698125/b2b63684-ed79-11e6-8de2-05bb5c672075.png)

I sent them to you via email. Here are the pics

[2017-02-07 16:45] medhach commented on #70
Improving UI will include improving responsiveness in various devices too, so yes maybe we should include that issue here too. You can start working on it, step by step and keep posting screenshots.

[2017-02-07 17:26] mish24 commented on #70
![screenshot from 2017-02-08 10-41-08](https://cloud.githubusercontent.com/assets/24610197/22702578/3a102ef2-ed87-11e6-933d-de6789567807.png
![screenshot from 2017-02-08 10-53-41](https://cloud.githubusercontent.com/assets/24610197/22702973/82637aa0-ed88-11e6-8698-57e7338652cc.png)

Changes for responsiveness

[2017-02-07 17:35] muddlebee commented on #70
@medhach that's a good idea. I will keep posting. Thanks

[2017-02-08 19:11] yatna opened #83 "Update README"
The link to Installation Guide given on the README.md does not point to the Installation guide. It rather opens up the API documentation. Also, API documentation link does not point to the API documentation given in the project, but to a google doc guide. I would like to send a PR fixing this @medhach @desaivaibhavi .

[2017-02-08 20:00] mish24 opened #85 "Change the user interface for profile"
![screenshot from 2017-02-09 13-28-08](https://cloud.githubusercontent.com/assets/24610197/22754965/42c09aa6-ee67-11e6-911a-cf5918f273b9.png)

Can I take up the task to make this page better too?

[2017-02-08 20:31] yatna opened #86 "Issues with Installation Guide.md"
There are 2 problems with the installation guide-
1.The instruction to be followed when not using the Peacecorps VM are a bit unclear and can be improved. The document clearly explains the approach which uses the Peacecorps VM, but the one without it gets lost after the third step. I myself faced a bit of difficulty while using the second approach.Hence,  I would like to add instructions about whi

[2017-02-09 04:52] Neetuj commented on #85
yes please :)

[2017-02-09 06:11] mish24 commented on #85
@Neetuj On it!

[2017-02-09 06:31] mish24 commented on #85
![screenshot from 2017-02-09 23-58-54](https://cloud.githubusercontent.com/assets/24610197/22771834/61dba5e0-eebf-11e6-8f2f-bb1634f63707.png)

I will add responsiveness to this page too. Also, after the profile is edited by a person, clicking on back button sends you back to the changes made only. So I think I'll include a link for the homepage there as well.

[2017-02-09 06:37] mish24 commented on #81
I just noticed that there is app called pcsa_GHN for the contacts. It has some issues. I will update them so that even contact creation would work @medhach

[2017-02-09 19:40] mish24 commented on #85
#88 Please have a look :)
![screenshot from 2017-02-08 10-40-46](https://cloud.githubusercontent.com/assets/24610197/22799956/c0778786-ef2d-11e6-95af-a7ffacd52957.png)
![screenshot from 2017-02-08 10-41-02](https://cloud.githubusercontent.com/assets/24610197/22799945/bc9d60ea-ef2d-11e6-82cd-a3732b89311f.png)
![screenshot from 2017-02-08 10-41-08](https://cloud.githubusercontent.com/assets/24610197

[2017-02-09 19:59] mish24 commented on #22
#84 Solves #21

[2017-02-10 15:01] yatna opened #93 "Reducing load time of web pages by using Bootstrap CDN"
Currently, the project uses a local copy of bootstrap on the server side instead of Bootstrap CDN.

Avantage of using the Bootstrap CDN:
Many users already have downloaded Bootstrap from MaxCDN when visiting another site. As a result, it will be loaded from cache when they visit your site, which leads to faster loading time. Also, most CDN's will make sure that once a user requests a file from it,

[2017-02-10 15:09] mish24 opened #94 "Update pcsa_GHN to save contacts"
Currently no contact can be saved. The same has to be implemented via pcsa_GHN app. @medhach Can I work on this? :)

[2017-02-10 15:10] yatna opened #95 "Give a default name to User"
When the user logs in for the first time, and has not set his/her name the welcome button displays "Welcome, " which looks incomplete . Instead it should display something like "Welcome, User" if the until the user has not set his/her name.
@medhach I would like to send a PR.

[2017-02-10 15:10] mish24 commented on #94
![screenshot from 2017-02-07 13-04-40](https://cloud.githubusercontent.com/assets/24610197/22831640/1eac7c1e-efd1-11e6-9fdd-99e1e5404a14.png)

The description field is actually the phone number to be entered.

[2017-02-10 15:19] mish24 opened #96 "Add unit and automated tests for profiles app"
This way we can check several things related to the profiles. @medhach Shall I continue?

[2017-02-10 16:10] yatna opened #97 "Add validations to forms"
In various forms there are certain problems. eg in edit profile form-
1. 'First name' field can be left empty, it should be made mandatory.
2. 'Mobile Number' allows text too. It should be limited to numbers.
3. 'Email' field allows invalid emails.
@medhach  I would like to add validations to these forms and send a PR.

[2017-02-10 16:25] yatna opened #98 "Change Welcome and Logout hyperlinks to buttons."
The welcome and logout buttons are not buttons, but rather hyperlinks with borders. I would like to change then to button of appropriate types.
@medhach I would like to work on this.

[2017-02-10 17:30] muddlebee commented on #96
Duplicate of #54

[2017-02-11 04:30] mish24 commented on #98
@yatna already fixed in #88

[2017-02-11 08:14] mish24 commented on #94
Issue fixed in #100

[2017-02-11 11:43] mish24 opened #101 "A new design for the interface"
![screenshot from 2017-02-12 05-10-04](https://cloud.githubusercontent.com/assets/24610197/22853480/524cc1b2-f07d-11e6-8b8d-aecb3da9bc66.png)

How is this design for the homepage? Can I send a PR to make it look like this? @medhach :)

[2017-02-11 11:57] muddlebee commented on #101
#70 Im actually working on this.

[2017-02-11 12:02] mish24 commented on #101
@anweshknayak This is just for the homepage body, not the entire UI.

[2017-02-12 09:54] yatna commented on #98
@mish24 This PR is different from the fixes in #88 as I propose to add the Bootstrap button class and remove the hyperlinks whereas you in your PR have removed the border and maintained the text as hyperlinks.

[2017-02-13 04:00] mish24 opened #102 "Add a separate contribution file to docs"
I was thinking that while installation guide is already in a steady process to get updated, we might also add a separate 'Contribution' file explaining and guiding the people for the following:
1. Adding remote and upstream
2. Git branches and rebasing
3. Squashing commits and force pushing the changes.

@Neetuj @medhach I would like to send a PR for this. Can I go ahead ? :)

[2017-02-21 11:21] #58 closed, assigned to nobody

[2017-02-21 11:25] #85 closed, assigned to nobody

[2017-02-21 11:25] #22 closed, assigned to Nerdylicious

[2017-02-21 11:28] #13 closed, assigned to nobody

[2017-02-21 11:51] medhach commented on #93
Sure, go ahead!

[2017-02-21 11:52] medhach commented on #95
Sure, go ahead!

[2017-02-21 14:22] muddlebee commented on #82
fixed via #88

[2017-02-21 14:22] #82 closed, assigned to nobody

[2017-02-21 16:08] mish24 commented on #21
This issue can be closed. Fixed in #88. @medhach @Nerdylicious

[2017-02-21 16:37] muddlebee commented on #71
fix : use postgreSQL version 9.4+

[2017-02-21 16:37] #71 closed, assigned to nobody

[2017-02-21 18:20] muddlebee opened #105 "Error on running python manage.py runserver"
Steps to fix.
1. export DJANGO_SETTINGS_MODULE="infohub.settings"
2. then run python manage.py runserver

To Do:

Need to implement in such a way that we do not have to import everytime.

[2017-02-22 13:38] mish24 opened #106 "Add Pcuser details through forms"
This will let us add some compulsory features for various Pcuser fields and regex validations. @medhach
Can I go ahead with it?

[2017-02-22 14:04] mish24 opened #107 "Change the field types for Pcuser and create utility functions"
Currently the field types are as follows
1. title - CharField
2. phone - CharField
3. location - CharField
4. gender - CharField

I want to change the field types and add regex validators too. Then it would be easier to write tests for user as well.
Also, I think it would be nice if there were utility tests added which could create posts, users and pcusers on their own. We can use them at once and

[2017-02-22 15:58] medhach commented on #102
I think its a great idea! You could add something like this - https://github.com/systers/powerup-android#contributing-and-developing-a-feature
Make sure you keep it simple for everybody to understand, and I don't think force pushing and rebasing should be included since they are considered a bad coding practice. :)

[2017-02-22 16:02] #61 closed, assigned to nobody

[2017-02-22 16:02] #21 closed, assigned to Nerdylicious

[2017-02-22 16:02] medhach commented on #105
Pull a request then!

[2017-02-22 16:05] medhach commented on #106
Could you elaborate on the need?

[2017-02-22 16:07] medhach commented on #107
Sure, send in a PR soon!

[2017-02-22 16:07] #107 closed, assigned to nobody

[2017-02-22 17:13] mish24 commented on #106
Currently, the data is mostly entered through the template. This makes validation adding regexes difficult, like adding a check whether the number is entered through current format or not. Also, my adding forms we can make first_name a compulsory field easily. Avoids hassle. @medhach :)

[2017-02-22 17:20] yatna commented on #106
@mish24 I have opened a similar issue already #97 . I am almost done with my PR.

[2017-02-22 17:21] mish24 commented on #106
@yatna you created new forms with all validations?

[2017-02-22 17:24] muddlebee opened #109 "Unresponsive button"
![screenshot from 2017-02-22 22 44 39](https://cloud.githubusercontent.com/assets/8139783/23223420/0c36f21a-f951-11e6-94c1-a435b494327a.png)

Tablet view : Need to remove that unresponsive button at top-right corner

[2017-02-22 17:25] mish24 commented on #107
On it!

[2017-02-22 17:43] yatna commented on #106
@medhach I have tried to pretty much involve everything. If something remains missing you can include that in your PR .

[2017-02-22 17:50] mish24 commented on #106
@yatna alright! :)

[2017-02-22 17:51] yatna commented on #93
Fixed via #108

[2017-02-22 17:51] #93 closed, assigned to nobody

[2017-02-22 17:51] yatna commented on #86
Fixed via #91

[2017-02-22 17:51] #86 closed, assigned to nobody

[2017-02-22 18:22] mish24 opened #113 "Improving UI for "edit profile""
![screenshot from 2017-02-23 11-49-14](https://cloud.githubusercontent.com/assets/24610197/23225940/cf70370c-f959-11e6-8903-edd7029c5d3c.png)

Not in sync with the current UI for other pages. I actually already modified it. Somehow its not appearing. @medhach Can I change this again?

[2017-02-22 18:23] muddlebee commented on #113
Already working in #70 for every view.

[2017-02-22 18:27] mish24 commented on #113
@anweshknayak I already added the css files and stylesheets before for the profile page. This would just extend that. You can make more changes in your PR independent of all this.

[2017-02-22 18:39] muddlebee opened #114 "Alphabetical Imports ( PEP8 style guide)"
https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/

All the imports needs to be alphabetically sorted as mentioned in PEP8 style guide.

@medhach I am sending a PR ?

[2017-02-22 19:09] mish24 commented on #102
@medhach Sure, I'll avoid those things. I myself faced problems numerous times while force pushing. That's why I thought about adding it :)

[2017-02-22 19:16] muddlebee commented on #77
@medhach can I work on this ?

There are many unwanted imports in the projects.
They increase start times and runtime memory usage.

[2017-02-22 19:19] muddlebee commented on #109
@medhach can I work on this issue.
This bug is not only particularly coming in this view. It is for all the views.

[2017-02-22 19:39] muddlebee commented on #109
@mish24 This came through your PR right ?

[2017-02-22 19:45] yatna opened #118 "Add asterisk glyphicons to mandatory inputs"
It is a standard practice to display a red colored asterisk glyphicon in front of fields which are mandatory and must be necessarily given by the  user such as password and username while login. I would like to add these across all forms in the project. @medhach I would like to send a PR.

[2017-02-22 19:45] muddlebee opened #119 "tool for measuring code coverage of Python programs"
https://coverage.readthedocs.io/en/coverage-4.3.4

Similar to the one used in vms: (https://github.com/systers/vms)

@medhach can this be done ?

[2017-02-22 19:50] muddlebee opened #120 "LICENSE"
GNU-GPL License to be added.

@medhach can I add ?

[2017-02-22 19:55] muddlebee commented on #118
already in #70

[2017-02-22 20:07] muddlebee opened #122 "Removing hard-coded links for image."
https://github.com/systers/macc/blob/develop/ui/header.html#L10
May not be a good idea coming like this. As it is hosted in another site and is not reliable. Takes time to upload too.

So creating a separate folder for the same and using (https://compressor.io/) to compress the images.

@medhach is this any good ?

[2017-02-23 15:41] yatna opened #126 "Add Best Practises to README.md"
I intend to add PR Best Practices  to the README.md. These will include instructions for the contributors to make a better PRs. Something like these-

1  Use meaningful commit messages
2  Do not over commit. (Do not include multiple commits for a small change)
3  Do not add the merge commits to the PR
4 Usually use a single commit for a single issue, unless the issues are related or contain a sign

[2017-02-23 15:45] mish24 commented on #126
@yatna I just added these in #124. Duplicate of #102

[2017-02-23 16:56] yatna commented on #126
@mish24 Yeah, I created this issue after going through your PR only, as I felt some of these points were missing and could be added to it.

[2017-02-23 17:11] muddlebee opened #127 "Integrating drfdocs with API endpoints."
Ref : http://drfdocs.com/
Status: Currently Missing.

[2017-02-23 17:15] muddlebee opened #128 "Beautifying README markdown"
Ref : https://github.com/systers/vms/blob/develop/README.md
Something like vms. Looks better.

[2017-02-23 22:28] yatna opened #129 "[Bug] Link not working on notice.html"
The link back to the signup page are not working on notice.html. This page is displayed when user, enters mismatching passwords, duplicate username etc.
![screenshot from 2017-02-24 03 54 50](https://cloud.githubusercontent.com/assets/8321130/23282016/7a11c2de-fa45-11e6-9484-cd8a8aed0d80.png)
@medhach I would fix this.

[2017-02-23 22:41] yatna opened #130 "[Bug] Edit Profile displays gender incorrectly"
The gender field in edit profile shows radio button corresponding to female as checked irrespective of what the real value is. @medhach I would like to fix this,

[2017-02-23 22:52] yatna opened #131 "[Bug] Pcuser model has incorrect field types"
1. Gender is stored as CharField of length 10 . It should be done like this-
`GENDER_CHOICES = [(0, 'Male'), (1, 'Female')]
gender = models.IntegerField(choices=GENDER_CHOICES)`
2. Phone No is stored as CharField of length 150. It should be numeric.

[2017-02-23 23:07] yatna opened #132 "[Bug] Buttons not working properly"
In various pages such as the dashboard.html and profile.html clicking on the buttons have no effect. They only work when we click on the text written inside them . @medhach I would like to fix this.

[2017-02-23 23:09] yatna opened #133 "Labels not present in edit password and forgot password page."
Absence of labels on the edit profile page makes it very difficult and confusing for user to edit the data. Hence, I propose to add labels horizontally to the corresponding fields. @medhach Can I go ahead?

[2017-02-24 04:51] mish24 commented on #131
done in #112

[2017-02-24 04:54] mish24 commented on #133
I had something like this included in #113

[2017-02-24 05:55] #105 closed, assigned to nobody

[2017-02-24 06:15] medhach commented on #77
Remove them and pull a request. :)

[2017-02-24 06:41] mish24 commented on #94
Fixed and PR merged. Closing the issue.

[2017-02-24 06:41] #94 closed, assigned to nobody

[2017-02-24 06:42] mish24 commented on #81
Issue resolved in #100

[2017-02-24 06:42] #81 closed, assigned to nobody

[2017-02-24 07:40] yatna commented on #131
:+1: Closing

[2017-02-24 07:40] #131 closed, assigned to nobody

[2017-02-24 08:15] mish24 opened #134 "Add 'Prefer not to say' in gender options."
I think this must be present as a choice as well. It's present in almost all the servers and sites related to Systers. @medhach Is this idea good?

[2017-02-24 08:58] mish24 opened #135 "Move first and last names to Pcuser models"
Currently we can enter the name only through the site and not even through the admin, hence there's no to make the fields mandatory. If this is moved to models, we can ensure that the user enters the name the first time he/she creates a Pcuser account. Issue can be combined with #134 and resolved. @medhach Is this good?

[2017-02-24 10:11] muddlebee opened #136 "Read me for autoenv usage."
Ref: #111
[autoenv](https://github.com/kennethreitz/autoenv)

[2017-02-24 10:45] mish24 commented on #59
@medhach logo appears now, issue can be closed

[2017-02-24 15:26] yatna commented on #135
@mish24 first_name and last_name fields are already present in the pcuser model. They are inside the user model which is a part of pcuser model, hence you cannot see it, just like email and password.

[2017-02-24 15:35] mish24 commented on #135
@yatna Ohh I did not know that, sorry. But then how does one user add first and last names through admin page? Are these also supposed to be added through python shell? In that case it can be left empty too.

[2017-02-24 15:54] yatna commented on #135
User is a default model pre-defined under django.contrib.auth class . It has some mandatory fields such as username and password and many other optional fields such as email and first_name etc. Even if you make these optional fields mandatory in the html they will remain optional in the user model. You can read more about the User model and all its fields here https://docs.djangoproject.com/en/1.1

[2017-02-24 15:58] yatna commented on #135
I think the first_name and last_name must remain optional as it is only required for displaying and serves no other purpose. So, it must be left to the liberty of the user whether he/she wants to give away his/her name.

[2017-02-24 16:24] yatna commented on #118
@anweshknayak Perhaps we can divide the task, you see #70 is a very broad issue and it is unclear about what specific details that issue will change in the UI. If possible try to add specific details about what all changes you are adding so that other contributors know what more they can add/change and can continue to contribute to the UI as well. Thank You .

[2017-02-24 16:33] yatna commented on #133
@mish24 Sure, go ahead with that. I will do it for forgot_password and reset_password pages and leave this one to you. :-D

[2017-02-24 17:02] mish24 commented on #135
That makes sense. There was one problem with what the header showed. That's fixed in #137, so I suppose this is not that necessary.

[2017-02-24 17:02] #135 closed, assigned to nobody

[2017-02-24 17:31] mish24 opened #138 "Edit profile button not visible now"
![screenshot from 2017-02-25 10-56-43](https://cloud.githubusercontent.com/assets/24610197/23313712/d12886b2-fae4-11e6-86ee-37e332998a28.png)

The edit profile button isn't there anymore. It was there before.

[2017-02-24 17:41] mish24 opened #139 "Unable to log in as some different user"
Even after creating a new Pcuser from the admin, the login doesn't work. After the 'Log in' button is clicked, it redirects to the dashboard, but logged in as 'maccadmin'. Apart from this, even being logged in as an admin with Pcuser status, it doesn't work.

[2017-02-24 18:33] yatna commented on #138
@mish24  It is showing in mine. Are you sure you have pulled the recent changes?

[2017-02-24 18:44] mish24 commented on #138
@yatna Yes I was running my develop branch only, and it is up to date with upstream.

[2017-02-24 18:45] mish24 commented on #138
And even after creating a super user and associating a Pcuser with it, it's not logging me in

[2017-02-24 19:02] muddlebee opened #142 "Issue Checklist( Major Changes)"

[2017-02-24 19:12] mish24 commented on #138
@yatna I checked on a different laptop to be sure, and it turned out that Bootstrap was not working properly in my laptop. So i guess it's not a problem in the code. I'll close this issue

[2017-02-24 19:12] #138 closed, assigned to nobody

[2017-02-24 19:12] mish24 commented on #139
Bootstrap issue.

[2017-02-24 19:12] #139 closed, assigned to nobody

[2017-02-24 19:13] muddlebee opened #144 "[Enhancement] Token based authentication"
Ref : http://stackoverflow.com/questions/14838128/django-rest-framework-token-authentication
[Enhancement]

[2017-02-24 19:28] anweshknayak commented on #136
autoenv should work fine. Not a neccessity to add Readme. If any one faces the issue free feel to open.

[2017-02-24 20:31] mish24 opened #147 "Add tests for contacts"
There are tests present for pcsa posts, it will be nice if we extend it to contacts as well. (pcsa_GHN) @medhach Can I go ahead?

[2017-02-24 20:31] yatna opened #148 "[Bug] 'Change Password' feature malfunctions"
Change password feature does not change the password correctly. In fact it removes the previous password and does not set the new password correctly as a result of which user cannot log-in once the password is changed. Only way to log in such a case is by changing the password through terminal. @medhach I would like to fix this.

[2017-02-24 20:35] yatna opened #149 "[Bug] 'Cancel' button on 'Edit profile' malfunctions"
On clicking the 'Cancel' button on the edit profile page, it displays the message - " Profile edit successful" which should not be given. Instead the user should be directed back to the 'View Profile' page. @medhach I would like to fix this.

[2017-02-24 20:36] muddlebee opened #150 "Tests to be added"
- [ ] pcsa_GHN

- [ ] pcsa_safety_tools

- [ ] profiles

There are currently no tests present. @medhach I would like to add tests for the same.
For serializers as well.

[2017-02-24 20:44] muddlebee opened #151 "Adding content to the landing page views"
Currently empty.

- [ ] About Peace Corps
- [ ] Policies
- [ ] Important Details
- [ ] Help

[2017-02-24 20:49] muddlebee opened #152 "Not able to add Pcuser (gender)"
Potential Bug?

[2017-02-24 20:56] yatna opened #153 "[Testing] Add tests to webhub"
I would like to add tests for the  webhub module.

[2017-02-24 21:11] mish24 commented on #152
@anweshknayak The max_field has been set to 1 in gender(Pcuser), whereas it must be 10. #141 should fix this.

[2017-02-24 21:12] mish24 commented on #153
#54 and #123 are there for signup

[2017-02-24 21:19] muddlebee commented on #152
@mish24 Close this issue after your PR is merged.

[2017-02-25 16:54] muddlebee commented on #70
- [x] Beautify buttons for Profile and log out

- [ ] Beautify button for Welcome and log out

[2017-02-25 17:36] muddlebee commented on #127
@medhach I would like to work on this. Live demo of API endpoints will be possible through drf-docs

[2017-02-25 19:25] mish24 opened #155 "Uploading profile picture in edit profile"
We cannot do that currently. Is this really needed or should we just remove the box from the profile page? Even if it's made optional, a default image must be shown if the user hasn't uploaded any picture.
@medhach What do you think?

[2017-02-25 19:29] mish24 opened #156 "'Cancel' button on edit profile also adds the changes."
A Pcuser wants to edit the profile, he/she accidentally changes any field, but realises that the change wasn't needed, so they click on the 'Cancel' button. The change shouldn't be there. However, here the 'Cancel' button still changes the field value on its own and shows a success message after that.
There's error in template rendering as well as with the views.
@medhach Can I fix this?

[2017-02-25 19:35] mish24 commented on #156
Basically 'Update' and 'Cancel' buttons are same things

[2017-02-25 19:44] muddlebee opened #157 "Hostname issue"
http://127.0.0.1:8000/

![screenshot from 2017-02-26 01 11 49](https://cloud.githubusercontent.com/assets/8139783/23334236/d11e2d7a-fbc0-11e6-96ef-414ef33f04f9.png)

http://localhost:8000/
![screenshot from 2017-02-26 01 11 31](https://cloud.githubusercontent.com/assets/8139783/23334237/d235af08-fbc0-11e6-8a90-f50535b03bda.png)

Opens up different pages. Where as both are same. Bug ?

[2017-02-25 20:05] mish24 commented on #157
The first one shows up when you log in as user who has 'staff status' but not superuser status.
For them the site shows something like this. The 'is_staff' and 'is_superuser' are False by default for users created.
You need to give the user superuser status through the initial superuser created manually and then also create a Pcuser first.
![screenshot from 2017-02-26 13-29-33](https://cloud.githu

[2017-02-25 21:11] muddlebee commented on #157
@mish24 Umm that shouldn't happen as localhost and127.0.0.1 should point to same page. So this needs to be fixed. Related to #23 . Let me check again.

And Yes I created superuser.  manage.py script automatically makes one.

[2017-02-25 21:15] muddlebee commented on #157
Issue is already there for it. Closing this. Related to #23

[2017-02-25 21:15] #157 closed, assigned to nobody

[2017-02-26 08:42] muddlebee opened #159 "Adding throttling functionality"
https://djangopackages.org/packages/p/django-ratelimit/

Advantages: Prevent an attacker from flooding that view and filling up the database with fake users. We want to throttle access to the view and limit the damage an attacker can cause.

Label : Enhancement, New Feature

Same for DRF can be added too (http://www.django-rest-framework.org/api-guide/throttling/)

[2017-02-27 07:52] mish24 commented on #9
Actually adding new fields on the existing database isn't going to be easy in Django 1.6. The number of database columns cannot be altered like that. It throws a Programming Error. This issue was present in earlier versions of Django (Django south was a fix but it's deprecated now).
Hence one thing we can do is complete upgradation to newer versions. (1.10 according to me).

[2017-02-27 10:19] yatna commented on #153
@mish24 Oh, sorry . I will remove the signup module from this PR.

[2017-02-27 10:21] yatna commented on #156
@mish24 #149 Deals with the same issue

[2017-02-27 10:50] mish24 commented on #156
@yatna I'll close this one. You can add in your issue that Update and Cancel do the same things. :)

[2017-02-27 12:49] medhach commented on #122
Sure go ahead!

[2017-02-27 12:59] medhach commented on #129
Go ahead

[2017-02-27 12:59] #129 closed, assigned to yatna

[2017-02-27 13:01] medhach commented on #130
@yatna Maybe you could correct all bugs in 1 PR and send it through?

[2017-02-27 13:03] #132 closed, assigned to nobody

[2017-02-27 13:04] medhach commented on #132
Add it in a PR and name it Bugs.

[2017-02-27 13:11] #59 closed, assigned to nobody

[2017-02-27 13:20] medhach commented on #142
@anweshknayak Whats the plan with this?

[2017-02-27 13:21] muddlebee commented on #142
@medhach I plan to include this in my GSOC proposal :)

[2017-02-27 13:25] medhach commented on #144
@anweshknayak Could you give more explanation about what it will be, than just the link please? Thanks!

[2017-02-27 13:26] #109 closed, assigned to nobody

[2017-02-27 13:29] medhach commented on #147
Sure.

[2017-02-27 13:30] medhach commented on #148
Sure go ahead and submit a PR

[2017-02-27 16:07] mish24 commented on #134
Fixed by #141 :)

[2017-02-27 16:10] medhach commented on #150
Yep, submit a PR soon.

[2017-02-27 16:13] medhach commented on #151
@anweshknayak This goes as a GSoC 17 task.

[2017-02-27 16:13] #151 closed, assigned to nobody

[2017-02-27 16:13] #152 closed, assigned to nobody

[2017-02-27 16:24] medhach commented on #127
There should be swagger documentation thats currently broken. Maybe you could work on that instead?

[2017-02-27 16:25] muddlebee commented on #127
@medhach sure then

[2017-02-27 16:28] medhach commented on #155
What do you mean by - we cannot do that currently? Could you specify?

[2017-02-27 16:30] medhach commented on #159
This also could be saved for your GSoC proposal. :)

[2017-02-27 16:31] #136 closed, assigned to nobody

[2017-02-27 16:36] #156 closed, assigned to nobody

[2017-02-27 16:37] #142 closed, assigned to nobody

[2017-02-27 16:39] #134 closed, assigned to mish24

[2017-02-27 16:39] #114 closed, assigned to nobody

[2017-02-27 16:46] #159 closed, assigned to nobody

[2017-02-27 16:48] muddlebee commented on #144
@medhach I will elaborate this in proposal . :) Closing for now. Thanks

[2017-02-27 16:48] #144 closed, assigned to nobody

[2017-02-27 16:52] #128 closed, assigned to nobody

[2017-02-27 17:28] mish24 commented on #155
There's no way to add profile pictures. There is no field in the model to do so. There has to be a FileField column present for the same. @medhach

[2017-02-27 17:31] mish24 commented on #150
pcsa_GHN and contacts are the same.

[2017-02-27 17:33] muddlebee commented on #150
No just some functionalities of contacts are there in pcsa_GHN. Not the whole.

[2017-02-27 17:34] medhach commented on #155
Lets remove the box for now.

[2017-02-27 17:42] mish24 commented on #155
Alright ! Shall I work on this then? @medhach

[2017-02-27 18:15] #119 closed, assigned to nobody

[2017-02-27 19:45] mish24 commented on #150
oh my bad. sorry

[2017-02-27 20:38] yatna commented on #95
Fixed :-D . Closing

[2017-02-27 20:38] #95 closed, assigned to yatna

[2017-02-27 20:40] yatna commented on #133
Fixed. Closing.

[2017-02-27 20:40] #133 closed, assigned to nobody

[2017-02-27 20:48] muddlebee commented on #150
@mish24 You can take up the pcsa_GHN part if you want to.

[2017-02-27 22:45] yatna opened #167 "Add 'Reset' Button to 'Edit Profile' Page"
Conventionally, profile editing pages have a reset button which resets all the values in input fields to what they were last saved. This button comes in handy when user has entered some incorrect value and he/she needs to restore the value to what it was earlier.

[2017-02-28 06:02] mish24 commented on #150
@anweshknayak Thanks :)

[2017-02-28 06:10] mish24 opened #169 "Unable to add post through safety tools"
![screenshot from 2017-02-28 23-38-31](https://cloud.githubusercontent.com/assets/24610197/23393692/98e0d91c-fdaa-11e6-8755-083ccaa30809.png)

This is the error message it shows. However, I couldn't even create a new category through shell. Can I work on this? @medhach

[2017-02-28 06:18] mish24 opened #170 "Add a little info about the post description in the view"
![screenshot from 2017-02-28 23-45-00](https://cloud.githubusercontent.com/assets/24610197/23393837/9369e496-fdab-11e6-85c3-65e4c7de4c53.png)

Here both of the posts have the same title. There is a lot of place remaining in the right. I was thinking that we could add a small amount of description (like 10-15 words then '...') as a sort of preview to the description. @medhach Should I do this? Or w

[2017-02-28 06:27] mish24 opened #171 "Mulitple form submissions possible in posts and contacts"
User enters one post, goes back to list, enters one more. But then hits back, sees the same fields entered there, again clicks the 'Submit' button and the same post (title and description) are saved.
I think it would be a nice idea if we use some validation methods like get_or_create() and unique_together() to validate this before the post is saved. And then there must be an error message along wi

[2017-02-28 06:47] mish24 opened #172 "User re-entering logged out session after clicking the `back` button."
Even after clicking the `Logout` button, if the user clicks on the back button (either once or twice), it brings the user back to the last page which was open. @medhach I would like to work on this :)

[2017-02-28 06:59] mish24 opened #173 "User can have unauthorized access to other user's url and profile info"
![screenshot from 2017-03-01 00-25-03](https://cloud.githubusercontent.com/assets/24610197/23394837/41d1079e-fdb1-11e6-926d-2d2ff0316242.png)
![screenshot from 2017-03-01 06-36-24](https://cloud.githubusercontent.com/assets/24610197/23406450/06e528c0-fde5-11e6-98d7-f36e581b384c.png)

In the screenshot, the header says welcome, user. This means no first name has been set up. But if the user tries t

[2017-02-28 07:07] mish24 commented on #171
@medhach We can make the (post + description) unique, or just the title to be unique as well. Which option do you think is better?

[2017-02-28 07:22] mish24 opened #174 "Unable to edit contact"
![screenshot from 2017-03-01 00-50-17](https://cloud.githubusercontent.com/assets/24610197/23395449/ab275c40-fdb4-11e6-80ea-0a1553fc4194.png)
After adding the details and clicking on edit it shows this message. It also deletes all the unsaved message we had entered.

![screenshot from 2017-03-01 00-50-22](https://cloud.githubusercontent.com/assets/24610197/23395456/be9074ce-fdb4-11e6-91a2-09240212

[2017-02-28 07:40] mish24 commented on #113
included in #70

[2017-02-28 07:40] #113 closed, assigned to nobody

[2017-02-28 07:43] mish24 commented on #102
done in #124

[2017-02-28 07:43] #102 closed, assigned to nobody

[2017-02-28 07:44] mish24 commented on #101
Included in #70

[2017-02-28 07:44] #101 closed, assigned to nobody

[2017-02-28 10:57] mish24 opened #175 "User unable to change email through Edit Profile"
Pcuser cannot change the email address shown in Profile. If this is to be kept that way, we can remove the editing email option altogether. @medhach I would like to work on this too

[2017-02-28 12:58] mish24 commented on #155
@medhach fixed in #176

[2017-02-28 15:30] mish24 opened #178 "Customize admin."
Following things are needed to be registered at admin site -
1. Option to add first and last name (since the pcuser is first created through admin itself, an option must be provided there as well).
2. Currently, only malaria_web is registered, we need to register the remaining apps too. (pcsa_GHN, pcsa_safety_tools, etc)

[2017-02-28 18:23] muddlebee opened #180 "Date created field"
In post field across every apps.

[2017-02-28 18:30] muddlebee opened #181 "multiple languages support"
https://docs.djangoproject.com/en/1.10/topics/i18n/

[2017-02-28 18:41] muddlebee opened #182 "Text area layout box not alligned properly"
http://pasteboard.co/DSe4A0OM3.png

[2017-02-28 18:43] muddlebee opened #183 "Separate layout area for User area."
http://pasteboard.co/DSe4A0OM3.png

As you see User maccadmin comes in same layout box. A separate one should layout for both will be better.

[2017-02-28 19:09] mish24 commented on #180
@anweshknayak I tried to add one more field in Pcuser actually, it showed some programming error. I googled it and it mentioned that in 1.6 we cannot really update the fields like that.
for reference - http://stackoverflow.com/questions/1605662/django-syncdb-and-an-updated-model

[2017-02-28 19:11] mish24 commented on #182
i somehow tried to improve this in #176. But it's not too great

[2017-02-28 19:30] muddlebee commented on #180
There is an django-app called south. @mish24 should work.

[2017-02-28 19:34] muddlebee commented on #182
@mish24 fix the label fields in your PR please. Not alligned. And Update and cancel buttons too. Till then this should be open I guess :P . And please put up the fixes you are doing in PR in your issue. Gets confusing otherwise

[2017-02-28 19:37] mish24 commented on #180
@anweshknayak Yeah I did read about that, I guess it should. It's deprecated now so there are not many references for it

[2017-02-28 19:40] mish24 commented on #182
@anweshknayak I did open one issue but it was closed without getting fixed :P The update and cancel buttons are taken by someone else. It creates a lot of merge conflicts later so I included it here. I guess I will rework those label fields!

[2017-02-28 19:44] muddlebee commented on #180
@medhach probably add this to version 2 milestone. When django gets ported to 1.8+ This feature will be helpful.

[2017-02-28 21:47] #180 closed, assigned to nobody

[2017-03-01 08:21] medhach commented on #150
@anweshknayak You working on this right? If yes, you might want to consider the utility functions @mish24  has used in her PR.

[2017-03-01 08:28] medhach commented on #169
um @mish24 this is related to the categories in the PCSA mobile and web apps, so maybe you can postpone this to a GSoC task. I'll try to add a description regarding the proper functionality and how MACC should be working with PCSA soon.
Cheers!

[2017-03-01 08:29] medhach commented on #170
yeah go head and submit  a PR!

[2017-03-01 08:34] medhach commented on #173
Okay :)

[2017-03-01 09:02] mish24 commented on #169
Oh understood. :) So shall I close this issue for now? @medhach

[2017-03-01 09:05] mish24 commented on #172
Fixed in #177

[2017-03-01 09:08] anweshknayak commented on #150
@medhach sure I will take a look

[2017-03-01 11:47] mish24 opened #184 "Extending utility functions for other apps"
There are utility functions for signup present. I was thinking of extending them for other apps as well. i.e -
pcsa_GHN
webhub
malaria_web
The pcsa_safety_tools has some issue right now for saving posts, so just these 3.
@medhach Can i go ahead?

[2017-03-01 12:41] mish24 opened #185 "User can enter white space to save data."
![screenshot from 2017-03-02 06-07-26](https://cloud.githubusercontent.com/assets/24610197/23460250/6bbaa4c6-feaa-11e6-91fb-71aea477eafd.png)
![screenshot from 2017-03-02 06-07-32](https://cloud.githubusercontent.com/assets/24610197/23460248/6a07148e-feaa-11e6-90d9-d0d2c73e0951.png)

User can enter a white space and save empty data here.

[2017-03-01 16:31] yatna commented on #149
Fixed. Closing

[2017-03-01 16:31] #149 closed, assigned to nobody

[2017-03-01 16:53] yatna commented on #185
@mish24 It is not getting saved in mine.
![screenshot from 2017-03-01 22 21 50](https://cloud.githubusercontent.com/assets/8321130/23470892/9c742dd0-fecd-11e6-9300-6d5fddd2ab7b.png)

[2017-03-01 17:05] mish24 commented on #185
@yatna Umm, that's weird. But I updated my branch. I'll recheck this and then open the issue.

[2017-03-01 17:10] yatna commented on #185
:+1:

[2017-03-01 17:13] yatna commented on #175
I think it would be a good idea to remove the editing email option because username and email are the 2 values which uniquely identify and verify a user, hence they should be kept non editable.

[2017-03-01 17:25] mish24 commented on #185
The issue is that user can enter a white space here to save blank items. Reopening the issue

[2017-03-01 18:34] mish24 opened #186 "Forgot Password doesn't work"
![screenshot from 2017-03-02 12-00-27](https://cloud.githubusercontent.com/assets/24610197/23474943/a4641c7c-fedb-11e6-927f-07affd0ef2fd.png)

After entering username and email, this message is shown. @medhach Shall I fix this?

[2017-03-01 18:43] mish24 commented on #186
![screenshot from 2017-03-02 11-58-35](https://cloud.githubusercontent.com/assets/24610197/23475265/05252712-fedd-11e6-819c-8a1e7b24abde.png)
This too :P

[2017-03-01 19:41] yatna opened #187 "[Enhancement] Change default gender in 'SignUp' form"
Currently the default gender in the 'Signup' form is set to 'Male'. However, since we have added a third 'Restricted' gender option, I think the default value (pre-set value) must be set to 'Restricted' so that if the user does not choose any value in the form, the value must be set to restricted .

[2017-03-01 19:52] yatna commented on #130
@medhach Sure, but then we may have multiple commits in one PR if we follow the 'one-commit-per-task' rule. Is that fine?

[2017-03-01 22:02] #183 closed, assigned to nobody

[2017-03-01 22:03] #181 closed, assigned to nobody

[2017-03-01 22:04] #70 closed, assigned to nobody

[2017-03-02 18:23] Raxerz opened #195 "Confusing message after signing up"
![screenshot from 2017-03-02 23 49 15](https://cloud.githubusercontent.com/assets/16686007/23520960/0c64398e-ffa3-11e6-8208-bc88992e6c1c.png)

The message currently reads "Go Back or click OK to go to signup page".
There is no OK button that can be clicked on.

[2017-03-03 10:36] muddlebee commented on #195
@Raxerz put up a PR for the same. @medhach take a look please

[2017-03-03 14:48] Raxerz commented on #195
@anweshknayak  I can submit a PR but it'll help if there is a specific or a preferred flow for the signing up process.
For example, Should there be an OK button to take the user to the sign up page or should it just be a "Thank you for signing up" page with the "verification mail sent" message allowing the user to access his account only after the verification is done.
Also, redirecting the user t

[2017-03-03 15:21] Raxerz opened #197 "Incorrect links on page that appears when user tries to sign up with an existing username or email"
![page 1](https://cloud.githubusercontent.com/assets/16686007/23556392/819a8dd4-0052-11e7-9fcf-d8ca4cf99cd6.png)

There are 2 separate links here:
one for "Click" and the other for "here", both of them redirect to two different pages.

"Click" redirects to the following page (Forgot password page):
![page 3](https://cloud.githubusercontent.com/assets/16686007/23556537/f427c3b2-0052-11e7-932c-9db67

[2017-03-08 18:19] medhach commented on #169
Sure

[2017-03-08 18:19] #169 closed, assigned to nobody

[2017-03-08 18:53] mish24 commented on #147
Done in #192

[2017-03-08 18:53] #147 closed, assigned to mish24

[2017-03-08 18:57] mish24 commented on #174
Fixed in #179.

[2017-03-08 18:57] #174 closed, assigned to nobody

[2017-03-08 18:57] #172 closed, assigned to nobody

[2017-03-08 19:24] mish24 commented on #155
Done in #194. closing.

[2017-03-08 19:24] #155 closed, assigned to nobody

[2017-03-09 01:04] medhach commented on #185
@mish24 How are you planning to solve this issue?

[2017-03-09 01:06] medhach commented on #186
@mish24 Sure go ahead, also take care of the header and footer for this page along with the other design issues ;)

[2017-03-09 01:07] medhach commented on #187
@yatna Maybe we don't need to have any default? What do you think?

[2017-03-09 01:15] medhach commented on #130
@yatna Create an issue with 4-5 such changes, then submit 1 PR with 1 commit explaining all the changes. PR messages can be upto 250 characters so I think its enough for description as well.

[2017-03-09 01:17] medhach commented on #195
@Raxerz If you can make the user get his verification link and verify his account, well and good. If you want to add a Thank you for signing up, you can do that too but make sure you create another issue for verifying emails. :)

[2017-03-09 01:28] medhach commented on #197
@Raxerz There is already a student working on this. :)

[2017-03-09 05:51] mish24 commented on #185
@medhach I was thinking of overwriting the save method and using strip() function.

[2017-03-09 05:52] mish24 commented on #186
On it!

[2017-03-09 07:58] mish24 commented on #173
Solved in #201

[2017-03-09 09:02] mish24 commented on #178
Done in #200

[2017-03-09 17:40] Raxerz commented on #197
Oh sorry @medhach. Will close the issue now. :)

[2017-03-09 17:40] #197 closed, assigned to nobody

[2017-03-09 17:41] Raxerz commented on #195
Alright @medhach. Will start working on it.

[2017-03-09 17:48] Raxerz opened #202 "Verifying new users account after registration"
Verification of users by sending a mail with the verification link .

[2017-03-09 18:24] aradhyamathur commented on #187
hello can i take this up ?

[2017-03-10 10:10] medhach commented on #185
Go ahead and submit a PR

[2017-03-10 10:13] #178 closed, assigned to mish24

[2017-03-10 10:14] medhach commented on #202
@Raxerz Are you working on this?

[2017-03-10 11:28] #173 closed, assigned to nobody

[2017-03-10 11:28] mish24 commented on #170
Done in #193

[2017-03-10 11:28] #170 closed, assigned to nobody

[2017-03-10 11:32] #106 closed, assigned to nobody

[2017-03-10 13:01] Raxerz commented on #202
Yes I'm working on it @medhach

[2017-03-10 13:19] mish24 commented on #186
Done in #204

[2017-03-10 15:24] muddlebee opened #206 "Layout same as #154 in other views"
- [ ] Landing page

Layout : #154

[2017-03-10 15:29] mish24 commented on #185
Solved in #205

[2017-03-10 17:28] muddlebee opened #207 "Move all the apps like infohub,macc to one common directory"
Prefarably under apps.
Following PEP8 conventions for Django

[2017-03-10 17:31] muddlebee opened #208 "Layout needs to be fixed"
![screenshot from 2017-03-10 22 59 02](https://cloud.githubusercontent.com/assets/8139783/23805806/67de3da8-05e5-11e7-80a2-cdf9237dead9.png)

[2017-03-10 20:13] mish24 commented on #208
Solved in #204

[2017-03-10 20:14] aradhyamathur commented on #167
hello can i take this one ?

[2017-03-10 21:08] muddlebee commented on #208
No

[2017-03-11 05:59] mish24 commented on #208
![screenshot from 2017-03-11 23-27-31](https://cloud.githubusercontent.com/assets/24610197/23821057/e43165b6-064d-11e7-9d49-96d90dea4659.png)

#204 solved it somehow. I wasn't able to do the radio buttons

[2017-03-11 09:34] aradhyamathur commented on #208
What changes are to be made in the layout ??

[2017-03-11 12:17] muddlebee commented on #208
@aradhyamathur you see the Attribute names and Box layout(for input) are not properly alligned. Same is to be done to radio buttons.

[2017-03-11 20:35] aradhyamathur commented on #208
ohk will work on it

[2017-03-11 21:13] aradhyamathur commented on #208
i have made some corrections to the layout as follows ; shall I put a PR for the same
![screenshot from 2017-03-12 02 42 11](https://cloud.githubusercontent.com/assets/6674956/23826925/abfeb934-06cd-11e7-840a-77a4ec65da4f.png)

[2017-03-12 06:59] Raxerz commented on #202
@medhach this already seems to be implemented for the production version (the one hosted on heroku)
Shall I implement it for the developmental version ?
Right now, the user is redirected to the dashboard after registration. We can have two conditions, one for the production version and one for the developmental version and the appropriate action will be taken based on this.

[2017-03-12 07:06] Raxerz opened #211 "Button click issue"
![screenshot from 2017-03-12 12 32 37](https://cloud.githubusercontent.com/assets/16686007/23829752/1b3a9938-0720-11e7-8a32-3c0b695d4401.png)

For the buttons "Go to Malaria" and "Go to PC", the onclick listener works only on clicking over the text inside the button and not the button as a whole.

[2017-03-12 07:12] Raxerz commented on #211
This seems to be an issue for almost all of the buttons on all pages.

[2017-03-12 07:14] mish24 commented on #211
@Raxerz Hey! I Think this issue has already been opened and someone was working on it. It was related to hyperlinks.

[2017-03-12 07:16] Raxerz opened #212 "Remove contact number as input field."
Contact number is an input field on the contact list page. This has to be fixed as it misleads the user.
![screenshot from 2017-03-12 12 44 26](https://cloud.githubusercontent.com/assets/16686007/23829837/e4f9e03e-0721-11e7-9c42-4d84c3a5b9c3.png)

[2017-03-12 07:17] mish24 commented on #212
What else do you propose?

[2017-03-12 08:09] Raxerz commented on #211
@mish24  are you referring to this #117 ?
Has the issue been fixed? I pulled the latest changes and the bugs seem to still exist.

[2017-03-12 08:14] Raxerz commented on #212
@mish24 I suggest we make the field readonly, disable it or  leave it as an innerHTML text.

[2017-03-12 10:48] muddlebee commented on #208
Still not alligned. This shouldn't be hard. Just place the Attributes(Male) and checkbox under one class div="row" and in child div(checkbox and respective attributes) do the needfull. It should be easy with bootstrap. @aradhyamathur

[2017-03-12 11:54] yatna commented on #167
@aradhyamathur  Sorry, I am working on this. You may take up the issue tagged as 'free'.

[2017-03-12 14:10] mish24 commented on #202
@Raxerz while in development mode, a lot fake and mock data is created for the purpose of testing. Using genuine data everytime would be too difficult. I suggest that you limit this functionality to production itself, and maybe use some other third party apps like [faker](https://djangopackages.org/packages/p/django-faker/) or django-seed if authentication is that necessary.

[2017-03-12 14:13] mish24 commented on #211
It was supposed to be. I guess you should fix all other links, but comment once about this issue on that PR as well. @Raxerz

[2017-03-12 14:29] mish24 opened #214 "Responsive buttons functionality removed."
I added a drop down for profile and log out button some days back so that when the page is minimized, they still appear. They were visible when the screen width is made smaller as well. It's not there now. @medhach
![screenshot from 2017-03-13 07-56-40](https://cloud.githubusercontent.com/assets/24610197/23832619/514bda1c-075e-11e7-8210-a1351c1eba8d.png)

[2017-03-12 17:04] muddlebee commented on #109
@medhach please re-open this issue

[2017-03-12 17:50] aradhyamathur commented on #208
ohk will check it currently the code has implemented the form  with table tags. Will modify it accordingly @anweshknayak

[2017-03-12 22:12] muddlebee commented on #109
Fix for this. Create a separate page for redirection. Currently even after loggin in user gets directed to same page as Login one.

Feel free to take this up.

[2017-03-16 08:27] yatna commented on #187
@medhach Yeah, I guess that won't be bad either. However, since gender is an mandatory field in the form, we will have to put a check to make sure that one of the 3 radio buttons is checked. Should I change the PR

[2017-03-17 18:12] #208 closed, assigned to nobody

[2017-03-17 18:12] #207 closed, assigned to nobody

[2017-03-17 21:07] muddlebee opened #217 "Layout of Header not proper"
![screenshot from 2017-03-18 02 34 52](https://cloud.githubusercontent.com/assets/8139783/24063000/c47b7a00-0b83-11e7-99e5-d33d3417d56c.png)

[2017-03-17 21:25] muddlebee opened #218 "Smooth scroll for return to top button in footer"

[2017-03-17 21:29] muddlebee opened #219 "Header should go up too as the page is scrolled down"
![screenshot from 2017-03-18 02 57 35](https://cloud.githubusercontent.com/assets/8139783/24063734/e34bf330-0b86-11e7-9e03-a3abf6fd4b16.png)

[2017-03-19 07:50] mish24 opened #221 "User can enter non alphanumeric characters in the name"
![screenshot from 2017-03-20 01-12-08](https://cloud.githubusercontent.com/assets/24610197/24079086/fb76107e-0ca5-11e7-8ff8-1884f4c5e119.png)
Validation has to be added to check whether the user doesn't enter something like '+', '|' anything in the first and last name areas, infact in any field that requires typing

[2017-03-19 10:49] muddlebee commented on #219
or few changes can be done to this. UI should be proper. Invisible CSS property for header would do.

[2017-03-20 06:40] alessbn opened #222 "Modify the installation guide for a local machine"
- The [requirements](https://github.com/systers/macc/blob/develop/docs/Installation%20Guide.md#requirements) sections is confusing because only mention that it is a tutorial for an Ubuntu Virtual Machine and not for a local machine.

- The step number seven ([Install Project Dependencies](https://github.com/systers/macc/blob/develop/docs/Installation%20Guide.md#install-project-dependencies)) needs

[2017-03-20 06:45] muddlebee commented on #222
@alessbn ssbn there ain't any necessity to change readme for your 1st point as it is universal for all linux OSes. And no need to remove sudo as you can just create a virtual environment using virtualenv "environment name" and use it accordingly everytime.

[2017-03-20 09:24] alessbn commented on #222
@anweshknayak thank you for your observation, I forgot to specify in which case, running `pip install` command using `sudo` for _requirements.txt_, by doing this the dependencies will not be installed on the virtual environment, for installing the dependencies on the virtual environment you only need `pip install` command

[2017-03-20 10:49] muddlebee commented on #222
`pip install -r requirements.txt` should do right.
and sudo it is not the issue here. It's with the permission settings of your own Linux Machine. You can change it accordingly to the $USER in your bash profile or whichever you are using.

[2017-03-20 18:54] GunpreetAhuja commented on #97
The first name field is automatically filled with username if left blank. So there is no such issue.

[2017-03-20 19:23] GunpreetAhuja opened #224 "No validation for strong passwords"
The password field accepts even single letter passwords. There is no validation as that of minimum 8 characters. Even spaces are accepted. I would like to add validations to the field.

(a GSoC aspirant)

[2017-03-20 19:32] GunpreetAhuja opened #225 "Minimum length for PCSA post description"
There is no minimum length set for the description field in the post for PCSA.

(a GSoC aspirant)

[2017-03-20 19:48] GunpreetAhuja opened #226 "Office name accepts special characters"
Office name should be a field that accepts only alphabets or my be numbers (not sure, if numbers need to be allowed). However, the office name value accepts special characters as well.
Besides the phone number field has only length validation and no format validation.

![image](https://cloud.githubusercontent.com/assets/6309072/24118576/a55de402-0d84-11e7-87ab-3b35fb59aefb.png)

[2017-03-20 20:09] GunpreetAhuja opened #227 "Logout confirmation"
A click on the logout button does not ask for confirmation of the user to logout. A by mistake click could result in unwanted logout.

(a GSoC aspirant)

[2017-03-20 20:22] GunpreetAhuja opened #228 "Color of 'This field is required' error"
The color of 'This field is required' message should be RED to be more eye catching.

Before:
![image](https://cloud.githubusercontent.com/assets/6309072/24119901/22624df4-0d89-11e7-9f1e-693be690f7e9.png)

After:
![image](https://cloud.githubusercontent.com/assets/6309072/24149675/b0bd921c-0e19-11e7-870b-0316a31c8d77.png)

(a GSoC aspirant)

[2017-03-20 20:44] amittbhardwj opened #229 "Webpages are not responsive ( Why we are not using Bootstrap!!)"
I think we should **make webpages look beautiful and responsive** and **I would suggest using Bootstrap and would like to implement it** on web pages. From these screenshots we can see that when we resize the window, the buttons hid and the lower portion of website is also not visible

A GSOC Aspirant

<img width="1280" alt="screen shot 2017-03-20 at 4 35 56 pm" src="https://cloud.githubuserconten

[2017-03-20 21:09] amittbhardwj opened #230 "Port to latest version of Django"
While looking at the code and relating issues, i noticed that most the issues here can be solved by porting the application to newest stable version of django and it will also increase the stability and long term support of the application. i would like to put myself forth for this task as I have developed  in Django versions from 1.7 to 1.9.

A GSOC Aspirant

[2017-03-20 21:20] muddlebee commented on #229
Bootstrap is already there

[2017-03-20 21:58] amittbhardwj commented on #229
@anweshknayak it is not working properly then.

[2017-03-20 23:11] muddlebee commented on #229
@amittbhardwj bootstrap has not been used just the library is there itself. and this issue is not relevant. Try seeing the other issues.

[2017-03-20 23:14] amittbhardwj commented on #229
@anweshknayak are we planning to use it?

[2017-03-20 23:23] muddlebee commented on #229
it's already been used in some parts of code. Not whole. you can use it where it hasn't been use already.

[2017-03-20 23:29] amittbhardwj commented on #229
yes, I have seen it and i think most of issues will be solved if it is imlemented properly.

[2017-03-21 05:47] kakshay21 commented on #167
It's been a while... Is this fixed yet? Or can I start?

[2017-03-21 06:03] mish24 commented on #226
@GunpreetAhuja There's a similar issue already opened

[2017-03-21 06:05] mish24 commented on #230
@amittbhardwj This can't be handled via pull request(s). A lot of things have to be changed for this purpose. Also, can you elaborate what issues persisting here can be solved by having a higher version?

[2017-03-21 06:07] mish24 commented on #225
Why do we need a minimum length? A description "describes" the post, and it might be related to any disease or the remedy in this case. I don't see the point of having a limit for this.

[2017-03-21 06:11] mish24 commented on #229
@amittbhardwj  Maybe the issue here is that you want to integrate Bootstrap to reduce the manual coding involved to make the pages responsive. But this will alter all the CSS and HTML files altogether. Even the layouts are different for some parts of the site. i suggest you work on the pages which lack the Bootstrap features. Maybe look at the pages rendered using jinja2?

[2017-03-21 12:41] GunpreetAhuja commented on #225
At least a few words could be compulsory to be added in order for the user to understand the title. Currently, entering only a single letter works.

![image](https://cloud.githubusercontent.com/assets/6309072/24147781/3d99f624-0e12-11e7-9d8e-74a999c3835e.png)

[2017-03-21 12:43] #226 closed, assigned to nobody

[2017-03-21 13:22] GunpreetAhuja commented on #229
@amittbhardwj  This issue https://github.com/systers/macc/issues/214 might satisfy your point.

[2017-03-21 13:41] muddlebee commented on #229
@amittbhardwj start with including button layout in mobile view for the "Profile" And "Log out". That would do as a first step

[2017-03-21 13:45] muddlebee commented on #225
Yes it is a good idea @GunpreetAhuja. It may affect the frontend layout if overflow is caused by text.
Either you could
1. Do changes in backend . (min-length in the model)
2. or add some css property which will contain the text area if it overflows

@medhach

[2017-03-21 15:30] GunpreetAhuja commented on #221
Hey, I am sorry I worked on the issue without your approval. I didn't know if the generator of the issue is the solver by default.
However, can I carry out the task?

[2017-03-21 16:13] GunpreetAhuja opened #231 "Render the same page after an invalid entry"
On entering erroneous data in Signup page, the url is directed to a different page to display the error messages. This would be more convenient if the error message is shown on the top of the same page. This would save a user's click.

![image](https://cloud.githubusercontent.com/assets/6309072/24157827/e47b0276-0e30-11e7-8338-a92da9f2662d.png)

(a GSoC aspirant)

[2017-03-21 16:56] HarinderKaur11 opened #232 "No check on email and phone number validation in the sign up process"
In the sign-up form even if the user enters an invalid phone number with more or less digits, he is successfully registered as a new user( although by clicking on the submit button he is directed to some other page with some error message). There should be a check on a valid phone number.
(Also, there is no verification email send to the email address entered, there should be a check on valid emai

[2017-03-21 17:52] HarinderKaur11 opened #234 "Edit profile form has no mandatory fields"
In the edit profile form, all the fields can be left blank and still the user profile can be updated. Some essential fields are required to be made mandatory. At least, the 'mobile' and 'location' fields should be mandatory for the user to fill, as these are compulsory fields in the sign-up form.
![screenshot 7](https://cloud.githubusercontent.com/assets/25227750/24162162/026c95cc-0e3d-11e7-8e57-5

[2017-03-21 18:07] GunpreetAhuja opened #235 "A small UI change"
As per wireframes and general view, I made this improvement in the UI to make it more appealing:

Before change:
![image](https://cloud.githubusercontent.com/assets/6309072/24163058/d5947e18-0e3f-11e7-999a-0ed0ad02c35e.png)

After change:
![image](https://cloud.githubusercontent.com/assets/6309072/24166072/7c5e469a-0e48-11e7-88a1-d8e9919874c1.png)

Similarly other templates can as well be modified

[2017-03-21 18:28] mish24 commented on #231
@GunpreetAhuja That's because the views are rendered by Jinja as of now. To change this we need to alter the jinja views completely and add the changes to the existing template engine of Django. And this is the flow of the site as of now. Maybe @medhach can guide you more for how to go about it.

[2017-03-21 18:31] mish24 commented on #234
@HarinderGithub Why should they be made mandatory? The purpose is not to create a profile, but to have an account of the Pcuser to add/edit or access information. What's the best that can be done here is removal of the fields that don't have any value entered by the user in the 'Profile' section. But making the fields mandatory is not required (it's up to the user completely)

[2017-03-21 18:33] GunpreetAhuja commented on #231
@mish24 I have worked on this and the screenshot provided does not alter the jinja views as such. Only the rendered page and the data is required to be changed.
Apart from this, the notice.html template would no longer be needed.

[2017-03-21 18:34] mish24 commented on #167
@kakshay21 He's been assigned by a collaborator to fix the issue. Wait for their reply or approval for fixing.

[2017-03-21 18:36] mish24 commented on #232
@HarinderGithub Please go through the list of open and closed issues to see whether the issue you're opening exists or not. There have been issues raised related to email and phone number validations. Maybe comment there to take up the work?

[2017-03-21 18:40] mish24 commented on #225
@GunpreetAhuja What minimum length do you propose?

[2017-03-21 18:42] GunpreetAhuja commented on #225
@mish24 Well, it depends on the requirement of the project. I would suggest to keep it at least 50-100 characters.

[2017-03-21 18:56] GunpreetAhuja commented on #232
@mish24 there have been different issues related to validations. This is a different one in case of phone number validation. As for the email validation, the only validation applied is for '@' and '.'. I believe she wants to apply validation to check for the domain name correctness and email existence.

[2017-03-21 19:03] HarinderKaur11 commented on #232
@mish24 I have gone through the list of all the open and closed issues, but I didn't find any previous issue serving this purpose. If you find a similar issue please reference it here.

[2017-03-21 19:07] mish24 commented on #232
@HarinderGithub Ah integrating third party apps for the validations you mean? To check whether the email you entered is real or not correct? I'm sorry, I thought the issue was related to manual validations. @medhach can guide you for this well

[2017-03-21 19:15] HarinderKaur11 commented on #234
@mish24 My point is that at least the fields that are mandatory in the sign-up form should be mandatory in the edit profile form as well in order to maintain consistency between sign up and edit profile forms as both these forms serve the same purpose of taking up users' information and storing in the database.
Or the other way around, we can give users the flexibility of signing up by just creati

[2017-03-21 19:19] HarinderKaur11 commented on #232
@mish24 yes, to check whether the email and the phone number entered are valid or not.

[2017-03-21 19:22] mish24 commented on #232
@HarinderGithub This will need a new field like 'Country' of the user too to validate whether the number provided belongs to that country or not. And adding a new field isn't possible in this version of Django. Email, I think it can be done and it's really good.

[2017-03-21 19:33] HarinderKaur11 commented on #232
@mish24 can you please elaborate why adding a new field is not possible?
And in that case we already have the location field, can't we use it as a country field?

[2017-03-21 19:34] HarinderKaur11 commented on #232
@medhach can you please guide on this issue?

[2017-03-22 06:00] amittbhardwj commented on #229
@mish24 shouldn't we have uniform layout design and yes we should reduce the manual coding. If something is available to help our work and is stable and used in huge number of projects, why we should be left behind. Altering CSS and HTML files is not that big issue. I will see to the pages and post screenshots.

[2017-03-22 06:05] amittbhardwj commented on #230
@mish24 you can refer to this link https://docs.djangoproject.com/en/1.10/releases/ . A lot has changed and most of it good like native password validation, improvement to sql connections and more robust approach to django principle.

[2017-03-22 06:12] amittbhardwj commented on #232
@mish24 For email validation, we can use django-allauth app which have facility to send a token to verify email. I hope it will solve this issue raised and for phone number validation we can use the solution mentioned in  this link http://stackoverflow.com/questions/19130942/whats-the-best-way-to-store-phone-number-in-django-models . It is very basic change.

[2017-03-22 06:15] amittbhardwj commented on #228
@GunpreetAhuja In that case, the field itself should highlight to red also.

[2017-03-22 06:19] amittbhardwj commented on #221
@mish24 we can add a simple regex query in models, where we have defined the username field or we can simple use the django inbuilt user, which already have this validation implemented and hence following the django principle of DRY( Don't Repeat Yourself)

[2017-03-22 06:25] amittbhardwj commented on #211
@mish24 I see it is not yet fixed and my approach would be to make links appear as buttons using bootstrap classes.

[2017-03-22 06:42] amittbhardwj commented on #186
is this issue fixed yet or not?

[2017-03-23 04:50] #185 closed, assigned to nobody

[2017-03-23 04:51] medhach commented on #206
No @anweshknayak Maybe we will keep this for GSoC tasks

[2017-03-23 04:53] #171 closed, assigned to nobody

[2017-03-23 04:56] medhach commented on #212
@Raxerz Maybe this should be left alone till GSoC period starts. We are looking for a few changes in the app so this feature may or may not be there. :)

[2017-03-23 04:58] #195 closed, assigned to Raxerz

[2017-03-23 07:03] mish24 commented on #186
The issue is fixed, I will make the necessary changes as suggested by @medhach ! Maybe you could take up an issue which is free (there are quite a few)

[2017-03-23 18:48] mish24 commented on #221
@GunpreetAhuja  Sorry, I would like to keep this!

[2017-03-23 18:56] medhach commented on #187
@yatna Did you change your PR?

[2017-03-23 19:07] GunpreetAhuja commented on #231
#236 pull request

[2017-03-23 19:07] medhach commented on #217
@anweshknayak What are you planning to do about it?

[2017-03-23 19:08] medhach commented on #218
Description @anweshknayak :/

[2017-03-23 19:20] muddlebee commented on #218
@medhach Something like this (https://material.angularjs.org/latest/) when you scroll down a button appears at the right bottom which scrolls up. Something like this woule be good for UI

[2017-03-23 19:20] #222 closed, assigned to nobody

[2017-03-23 19:21] muddlebee commented on #217
@medhach It was working fine before I guess. It can be fixed. Bring "Mobile App Control Center" to center of the page just above PEACE CORPS HUB.

[2017-03-23 19:21] medhach commented on #97
@yatna Send a PR.
@GunpreetAhuja The username and the First name cannot be the same so I think we need to fix it.

[2017-03-23 19:22] medhach commented on #224
@GunpreetAhuja Go ahead and submit a PR!

[2017-03-23 19:23] medhach commented on #227
@GunpreetAhuja Thats a good idea no doubt, but maybe we'll just overlook it for now. :)

[2017-03-23 19:23] #227 closed, assigned to nobody

[2017-03-23 19:24] GunpreetAhuja commented on #231
#237 pull request

[2017-03-23 19:24] medhach commented on #235
Good one! Send a PR!
Could you also change the copyright year to 2017?

[2017-03-23 19:26] medhach commented on #167
@yatna Did you pull a request regarding this? If yes, can you reference it here?

[2017-03-23 19:27] GunpreetAhuja commented on #235
@medhach Sure :)

[2017-03-23 19:29] medhach commented on #225
Go ahead and pull a request! 100 characters should be good as minimum. :)

[2017-03-23 19:31] medhach commented on #234
@HarinderGithub Go ahead and  submit a PR! Keep in mind to have a proper commit message! :)

[2017-03-23 19:34] medhach commented on #229
@amittbhardwj Screenshots will solve half the confusion and explain the work in better detail! :)

[2017-03-23 19:34] medhach commented on #230
@amittbhardwj We're going to have this as a GSoC task this year. :)

[2017-03-23 19:34] #230 closed, assigned to nobody

[2017-03-23 19:35] GunpreetAhuja commented on #235
I have included the UI change in https://github.com/systers/macc/pull/237 pull request itself.

[2017-03-23 19:35] HarinderKaur11 commented on #234
Sure! Thanks @medhach :)

[2017-03-23 19:38] medhach commented on #232
@amittbhardwj Since this is a little bigger than a simple UI change, I would suggest to add this as a GSoC task. :)

[2017-03-23 19:38] amittbhardwj commented on #229
@medhach sure, I will post screenshots here

[2017-03-23 19:38] #232 closed, assigned to nobody

[2017-03-23 19:40] medhach commented on #228
@GunpreetAhuja If you can, try highlighting the text box too, like @amittbhardwj has mentioned. Pull a request regarding this soon!

[2017-03-23 19:42] medhach commented on #211
Closing the issue. #117 was merged.

[2017-03-23 19:42] #211 closed, assigned to nobody

[2017-03-23 19:42] #186 closed, assigned to nobody

[2017-03-23 19:44] medhach commented on #221
@mish24 Submit a PR!

[2017-03-23 19:46] medhach commented on #218
@anweshknayak Submit a PR

[2017-03-23 19:47] medhach commented on #217
@anweshknayak Submit a PR

[2017-03-23 19:49] #235 closed, assigned to nobody

[2017-03-23 20:03] amittbhardwj opened #238 "Category Id should be a dropdown input with category name instead of input field"
The category id input field should be a dropdown menu because the user doesn't know the category ids and it will take more then single attempt for a user to save post , which will be hectic for the user. Other solution I suggest is that we can change Category Id to Category and instead of number dropdown we can provide the dropdown of category names which will be more useful to a user.

A GSOC Asp

[2017-03-23 20:12] GunpreetAhuja commented on #231
Pull request https://github.com/systers/macc/pull/239

[2017-03-23 20:18] amittbhardwj commented on #9
@mish24 will this be on hold till porting to newest django version?

[2017-03-23 20:21] mish24 commented on #238
@amittbhardwj All of this is on hold right now :(

[2017-03-23 20:25] amittbhardwj commented on #238
can we create a new label for issues that will be on hold?

[2017-03-23 20:34] mish24 commented on #238
I opened #169 but had to close. At least when we get more info we can re open them anytime.

[2017-03-25 02:00] alessbn opened #240 "[Enhancement] Modify README.md"
@medhach I would like to add headers to paragraphs:

- Mobile App Control Center (MACC)
- On Malaria App
- On FirstAide App

For a look like this:
![readme-2-1](https://cloud.githubusercontent.com/assets/10042008/24318754/0e6938b8-10d0-11e7-8c06-6cca21ea4185.png)

[2017-03-25 02:56] alessbn opened #241 "Change title to details.html and policies.html"
Title tag are the same for both html files:

`<title> About PC </title>`

The content of the title tags needs to be changed by:

- Policies
- Important Details

Could I fix this?

[2017-03-25 04:49] amittbhardwj opened #242 "Static folder outside infohub directory and Common templates folder"
The static folder should be outside the infohub directory along with other apps and there should be a common templates folder in the macc directory.

A GSOC Aspirant

[2017-03-25 17:41] sreejakshetty opened #243 "Auto install dependencies and packages with vagrant setup"
Instead of manually installing dependencies as suggested in https://github.com/systers/macc/blob/develop/docs/Installation%20Guide.md on vagrant VM ,we could update the vagrant file with  `config.vm.provision "shell"` and then executing a shell script for installing the packages and dependencies.

[2017-03-25 17:41] sreejakshetty commented on #243
I would like to work upon this issue.

[2017-03-26 07:05] mish24 commented on #243
@kamishettysreeja25 I'll tell a reason why this is bad. Using shell is not as good idea as using Python. The reason being, shell is responsible for 2 things - starting the installation, as well as loading the installed apps when you're running **tests**. That's why we need Python with this, to reduce the loading time with tests. (It is important to consider the tests as well.) Let me know if you n

[2017-03-26 07:52] sreejakshetty commented on #243
@mish24 One of the main advantages of using vagrant is that we could have an auto script to install the dependencies and configure the files automatically, so that a new comer could easily setup his vagrant by just by running `vagrant up` . I mean just to automate the installation process instead of making the user to manually install and configure files which is tedious as in https://github.com/s

[2017-03-26 18:44] yatna commented on #129
PR Merged #143
(GSoC Aspirant)

[2017-03-26 23:29] GunpreetAhuja opened #244 "Editing Installation guide for better understanding"
The installation guide has the following line that tends to confuse the installer of whether to keep the lines commented or to remove the comment(hash) tag:

"Comment out the following lines like so:
#import dj_database_url
#DATABASES['default'] =  dj_database_url.config()"

It should be edited to:

"The following lines need to be commented or kept as such if already commented:
#import dj_database

[2017-03-27 02:53] GunpreetAhuja commented on #231
Pull request https://github.com/systers/macc/pull/245

[2017-03-27 08:41] sreejakshetty opened #246 "Feature Request: Integration with different languages- Localization"
**Feature Description**: Implement localization in different languages as it will make this system reach many people across the world.
Implementing  a dropdown where we will show the list of languages available. After selecting one of the languages user can view the site in respective language.

Sample wireframes for dropdown:
![local2](https://cloud.githubusercontent.com/assets/14835922/24347693/

[2017-03-27 09:07] mish24 opened #247 "Change the urls so that it doesn't display primary keys."
This'll improve the security for the users against some advanced session hijacking attacks and is also according to the Django's documentation.
@medhach Shall I go ahead?

[2017-03-27 14:12] mikael19 commented on #219
HI @anweshknayak ,
Please is there an update on this?
Can I work on this as a bug fix for GSoC17 ?

Thanks.

[2017-03-27 14:14] mikael19 commented on #15
Hi,
Can I work on this?

Thanks

[2017-03-27 20:43] muddlebee commented on #219
@kera99 sure

[2017-03-28 03:23] sreejakshetty opened #248 "Setup Travis CI and Codecoverage"
- We need to be sure all our code is running and tested. Please set up Travis and Codecoverage to ensure this.
This issue can be divided into multiple tasks.
- [ ] Integrate Travis CI https://travis-ci.org
- [ ] Codecoverage- we can integrate with https://coveralls.io/ or https://codecov.io/
- [ ] Add travis ci and codecoverage  labels to Readme
**Example Travis and codacy labels in Readme**
![scr

[2017-03-28 03:39] sreejakshetty opened #249 "Integration of automatic code review tools"
**Description:**

1. Save time in Code reviews
2. Automatically identify new static analysis issues, code coverage, code duplication and code complexity evolution in every commit and pull request.

**Advantages:**

1. By integrating this tool it will make review process of mentors easy and students get to know what mistakes in code.
2. We can use http://danger.systems/ which has many messaging opt

[2017-03-28 04:22] HarinderKaur11 opened #250 "SMTPAuthentication Error in the sign up process"
In the code, the phone number digit limit is set from 5-20 digits. However, it is not implemented properly. This is because when the user enters a phone number with digits less than 5 and hits the submit button, the SMTPAuthentication error window appears and there is neither message of successful sign-up nor any 'enter valid phone number ' kind of message. But still, even after this error window,

[2017-03-28 04:43] HarinderKaur11 opened #251 "All the filled sign-up details are lost when the page is revisited to correct one thing."
After the user has filled all his details in the sign-up, he is taken to a next window which, in the case of an invalid entry, displays the error message with a link  'click here to go back to sign up page'. When the user hits this link, he is taken back to the sign-up page but all the previously filled details are lost and the user has to do this again from the beginning which is tedious and wast

[2017-03-28 12:52] mikael19 commented on #219
Ok, I'm on it.😊

[2017-03-28 21:02] mikael19 commented on #219
@anweshknayak To get this done, I had to remove the "navbar-fixed-top" class from the nav in the  base.html file at macc/infohub/templates/infohub/.
Is there any other thing you would like me to do on this task ? Or can I go ahead with a PR ?

[2017-03-28 22:27] GunpreetAhuja commented on #225
Pull request: https://github.com/systers/macc/pull/253

[2017-03-29 14:41] amittbhardwj commented on #250
@HarinderGithub The main issue is with the SMTP authentication method i.e. sending confirmation emails to signed up users. The google account is not properly configured to send emails as per the error shown, the app is not able to access the the gmail account from where the emails are being sent.

[2017-03-29 22:10] HarinderKaur11 commented on #250
@amittbhardwj The problem is that this authentication error shows up when the user enters a phone number with less than 5 digits. That is why it could be confusing for the user to identify the problem. The error shows the problem with sending an email confirmation, however, it is arising because of an invalid phone number entered.
It needs to be corrected so that the user gets a proper error messa

[2017-03-29 22:17] HarinderKaur11 commented on #250
Also, I think the proper configuration of google account to send emails can be made another issue because confirmation email is not received at present on creating a new account.
@medhach Please guide on this too.

[2017-03-30 15:01] amittbhardwj opened #255 "Update Profile have Default Gender Selection to Prefer Not to Say"
When a user tries to update his profile, the update form have the gender field default selected to Prefer Not to Say which is wrong because, if user updates any other field and overlooks Gender field, then this field will gat updated to Restricted. We need to remove default selection in update form

A GSOC Aspirant

<img width="1280" alt="screen shot 2017-03-30 at 10 55 40 am" src="https://cloud.g

[2017-03-30 18:31] mikael19 commented on #219
I have submitted a pull request for this issue. Here it is: https://github.com/systers/macc/pull/256

[2017-03-30 21:48] #255 closed, assigned to nobody

[2017-03-31 23:46] amittbhardwj commented on #229
@medhach Here are few screenshots of new layouts
(A GSOC aspirant)
<img width="1280" alt="screen shot 2017-03-30 at 6 58 47 pm" src="https://cloud.githubusercontent.com/assets/5919457/24572846/890141ae-164a-11e7-9282-b299722e647f.png">
<img width="1280" alt="screen shot 2017-03-30 at 7 57 53 pm" src="https://cloud.githubusercontent.com/assets/5919457/24572848/890abaea-164a-11e7-987a-fbece0fb6267.p

[2017-04-01 17:12] sreejakshetty commented on #241
@alessbn have you fixed this?If not I would like to work upon this.

[2017-04-01 17:28] alessbn commented on #241
@kamishettysreeja25 I was waiting for approval and in order to modify the files :(
in order to respect the [Contribuiton Guide](https://github.com/systers/macc/blob/develop/docs/Contribution.md#avoid-doing-the-following-mistakes)

[2017-04-02 01:25] sreejakshetty commented on #241
@alessbn I have talked to @MeepyMay regarding this. Since the approval process is slow we can fix any issue which has not yet fixed.
Thanks :)

[2017-04-02 03:53] medhach commented on #238
Yes @amittbhardwj We are planning to integrate with the PCSA app this time but we still need confirmation from Peace Corps so this will be on hold. :)

[2017-04-02 03:54] medhach commented on #240
Sure go ahead!

[2017-04-02 03:54] medhach commented on #242
@amittbhardwj Go ahead and pull a request so I can review.

[2017-04-02 04:24] medhach commented on #244
send a PR

[2017-04-02 04:27] medhach commented on #246
This is a great idea! I would recommend you to add this to your proposal as a GSoC task and work it out then. :)

[2017-04-02 04:27] #246 closed, assigned to nobody

[2017-04-02 04:27] medhach commented on #247
Sure

[2017-04-02 04:30] medhach commented on #248
Travis CI is already integrated with the project, so you can add any test coverage tool. Which one do you think is better? coveralls or codecov?

[2017-04-02 04:31] medhach commented on #249
Sure, go ahead and pull a request!

[2017-04-02 04:33] medhach commented on #251
How are you planning to solve this?

[2017-04-02 04:33] #225 closed, assigned to GunpreetAhuja

[2017-04-02 04:35] medhach commented on #250
How are you planning to resolve this @HarinderGithub ?

[2017-04-02 04:36] #219 closed, assigned to nobody

[2017-04-02 04:38] medhach commented on #229
Add this to your proposal. 👍

[2017-04-02 04:38] #229 closed, assigned to nobody

[2017-04-02 04:39] #241 closed, assigned to nobody

[2017-04-02 05:15] GunpreetAhuja commented on #244
PR: https://github.com/systers/macc/pull/259

[2017-04-02 05:27] sreejakshetty commented on #246
I have added this feature to my proposal and I have submitted my proposal for review please kindly review it and provide feedback.

[2017-04-02 05:34] sreejakshetty commented on #248
I would prefer **codecov**
Codecov has many advantages than other test coverage tool.
The following link explains clearlly all the differences https://www.slant.co/topics/2188/~code-coverage-services

[2017-04-02 11:26] fatimarafiqui opened #260 "Open source LICENSE missing"
It is said often that "Open source simply isn't open source without a proper license. Unless we have explicitly told others that they can modify and reuse our work, We've only showed others our code, We haven't shared it."

I suggest, We can add AGPL or GPL license as it is most widely used across all open source projects.

Reference links:
[1] https://choosealicense.com/licenses/mit/
[2] https://

[2017-04-02 15:59] medhach commented on #260
@MeepyMay What do you think?

[2017-04-02 16:00] medhach commented on #248
Okay go ahead and pull a request!

[2017-04-02 16:01] #244 closed, assigned to nobody

[2017-04-02 17:36] #234 closed, assigned to HarinderKaur11

[2017-04-02 17:44] HarinderKaur11 commented on #251
@medhach I will be working on it in a day or 2 as I am giving my final exams.
Once I am done, I will drop in the solution here :)

[2017-04-02 17:45] amittbhardwj commented on #229
@medhach can I send direct PR to this issue as Systers Community disqualified me for GSOC under section 2.4 . I still want to contribute to this project regardless of the GSOC.

[2017-04-02 17:59] HarinderKaur11 commented on #250
Will soon drop in a solution here :) @medhach

[2017-04-03 09:05] sidharth6323 commented on #251
Hey @medhach , I'm a GSoC aspirant. I would like to solve this issue by making a django form for signup and display appropriate error messages using form.errors and reloading the signup page with form filled with request.POST.

[2017-04-03 09:09] HarinderKaur11 commented on #251
@sidharth6323 I am already on it. Look for some other open issue that is free :)

[2017-04-06 15:19] GunpreetAhuja opened #261 "Integrity error on duplicate user"
The signup page shows Integrity error if a duplicate username is added.

![screen shot 2017-04-06 at 10 27 38 am](https://cloud.githubusercontent.com/assets/6309072/24761802/74b6fe0e-1aba-11e7-8be9-f982f38bbc7b.png)

I would like to modify it by displaying a customized message via signup template.

![screen shot 2017-04-06 at 11 19 38 am](https://cloud.githubusercontent.com/assets/6309072/24761970

[2017-04-06 18:57] GunpreetAhuja commented on #261
Pull request: https://github.com/systers/macc/pull/262

[2017-04-08 02:48] HarinderKaur11 commented on #250
@medhach I figured out the problem for STMP error, which is when the Django tries to access the email provided in the settings.py, it is not getting the direct access to send emails as the email account requires verification i.e it requires a phone number to be associated with it any other source of verification. I tried to access the Gmail account given in the settings.py and the following screen

[2017-04-09 02:55] GunpreetAhuja commented on #231
Resolving the same issue on login page as well.
Pull Request: https://github.com/systers/macc/pull/264

[2017-04-09 07:38] mish24 commented on #167
I'm taking this one for now. It's been a while.

[2017-04-09 07:38] mish24 commented on #120
@medhach You can close this one for now.

[2017-04-09 07:39] mish24 commented on #126
@medhach Done. Please close.

[2017-04-09 07:40] mish24 commented on #118
@medhach Done. Please close.

[2017-04-09 07:40] mish24 commented on #98
@medhach Done!

[2017-04-09 07:41] mish24 commented on #96
Closing due to webdriver error for now.

[2017-04-09 07:41] #96 closed, assigned to nobody

[2017-04-09 07:42] mish24 commented on #83
@medhach Readme files are fixed now. We can close this.

[2017-04-09 18:39] mish24 commented on #202
Will be covered during GSoC work. Can be closed for now @medhach

[2017-04-09 18:39] #175 closed, assigned to nobody

[2017-04-09 18:40] mish24 commented on #182
Done in a PR. Can be closed. @medhach

[2017-04-09 18:42] mish24 commented on #187
@medhach Issue can be closed. Done in #188, Need to solve conflicts.

[2017-04-09 18:43] mish24 commented on #206
Can be closed for now

[2017-04-12 02:34] GunpreetAhuja opened #266 "Change password redirect"
After changing password, the user should be redirected to the login page directly. However, the logout template is rendered. I would like to modify the rendering to the login page directly.

(a GSoC aspirant)

[2017-04-12 02:43] GunpreetAhuja commented on #224
Pull request: https://github.com/systers/macc/pull/267

[2017-04-12 17:47] kakshay21 commented on #167
fine, I'm not working on this @mish24
And yeah, It's been really long time @yatna

[2017-04-15 21:52] GunpreetAhuja commented on #228
@medhach Does this issue go to https://github.com/kamishettysreeja25 ? I was working on it.

[2017-04-15 22:25] GunpreetAhuja commented on #228
@medhach I have solved this issue in a more sophisticated way (editing only 2 lines per file) and that too for all the required files.

Here is a sample for the same:
![screen shot 2017-04-15 at 6 21 36 pm](https://cloud.githubusercontent.com/assets/6309072/25067144/6836e752-2208-11e7-93b8-828e9454329b.png)

Pull request: https://github.com/systers/macc/pull/268

[2017-04-15 22:31] GunpreetAhuja opened #269 "Highlight each text box when the user is typing in it"
Usually while a user is entering something in a text box it is highlighted in blue outline (same thing happens in github as well):

![screen shot 2017-04-15 at 7 37 19 pm](https://cloud.githubusercontent.com/assets/6309072/25067476/ff5375c4-2212-11e7-9960-886944b0a2f1.png)

![screen shot 2017-04-15 at 7 37 23 pm](https://cloud.githubusercontent.com/assets/6309072/25067477/ff669ad2-2212-11e7-9fe0-2

[2017-04-15 22:34] GunpreetAhuja opened #270 "Add placeholder field to textboxes"
I would like to add placeholders as an example is predefined text "Your name" in the textbox "username", placeholder text of "Your Title here.." in the textbox "Title" and so on.

*1
![screen shot 2017-04-17 at 2 04 14 pm](https://cloud.githubusercontent.com/assets/6309072/25098492/c665a3c6-2376-11e7-98e3-370f87e55c78.png)

(a GSoC aspirant)

[2017-04-15 22:52] GunpreetAhuja opened #271 "Webhub and Profile views.py"
What different tasks do the 2 files do? From what I have examined is that the profiles/views.py is redundant and all the tasks are done by webhub/views.py or may be vise versa.
Is there anything specific that the profiles/views.py has been created or should we remove that file code to reduce redundancy?

[2017-04-15 23:20] GunpreetAhuja commented on #266
![screen shot 2017-04-15 at 7 19 34 pm](https://cloud.githubusercontent.com/assets/6309072/25067401/7e7eaa7e-2210-11e7-8afc-0db8059b01f5.png)

[2017-04-17 16:06] HarinderKaur11 opened #273 "Redundancy in Urls.py"
While going through urls.py in infohub, I noticed that there are two urls pointing to same app.
We have
 `
url(r'^', include('webhub.urls')),
url(r'^webhub/', include('webhub.urls', namespace='webhub')),
`
pointing to same app webhub.

<img width="1280" alt="screen shot 2017-04-17 at 12 02 20 pm" src="https://cloud.githubusercontent.com/assets/25227750/25094605/f59d6a2c-2365-11e7-9483-aff9cfd8e126

[2017-04-17 19:11] GunpreetAhuja commented on #242
@amittbhardwj It has been a while, I am taking this issue.

[2017-04-18 02:18] GunpreetAhuja commented on #270
A better way to do this would be to remove the labels and keep the placeholders:

*2
![screen shot 2017-04-17 at 10 13 48 pm](https://cloud.githubusercontent.com/assets/6309072/25111815/3e6db22a-23bb-11e7-988d-1e93dae3b8e9.png)

What do you suggest: @medhach ?

[2017-04-18 06:29] GunpreetAhuja opened #277 "Redundant folder pcsa"
I am not sure if the the pcsa folder has any definite purpose. The pcsa_GHN and pcsa_safety_tools have all their files defined in them. I think that pcsa should either be removed or used for functionalities common to both pcsa_GHN and pcsa_safety_tools. Keeping both would only increase redundancy.

[2017-04-18 08:34] mish24 commented on #277
They are different. Safety tools and Get help now have different purpose. The details of Safety Tools have to be provided by PCSA that's why it is on hold right now!

[2017-04-20 21:57] yatna commented on #270
1. Keeping both Placeholder and Labels is not a good idea as they both convey exactly the same information most of the times, hence increasing information redundancy.
2. I think the current system of using labels is better over placeholder as -
 -> Labels display additional information about which fields are mandatory and which are not, by displaying a red asterisk.
-> Placeholders can not be used

[2017-04-20 22:10] yatna commented on #277
Right now the pcsa folder does not seem to be serving any specific purpose as we cannot add any pcsa posts as specified in the folder , but I guess it will in the future as more details are given by the peace corps regarding their requirement. Hence we should keep it for now.

[2017-04-20 23:10] yatna opened #281 "Fix View Profile page layout"
The View Profile page currently looks like as shown below. Fields do not utilize space on the right side of the page and instead shift text down. Also the values are not in a straight vertical line.
![screenshot from 2017-04-21 03 56 40](https://cloud.githubusercontent.com/assets/8321130/25256065/d9b67144-264b-11e7-96fb-b0fabcf6bad7.png)

This looks better-
![screenshot from 2017-04-21 04 32 10](h

[2017-04-21 01:02] sreejakshetty commented on #248
![screenshot from 2017-04-21 06 11 23](https://cloud.githubusercontent.com/assets/14835922/25258227/86a1c0b6-265b-11e7-8da5-b96f97505327.png)
- Integrated Codacy to my forked repo. It seems I need to have member permission to integrate codacy/codcov for **syster/macc.**
- Results show our project has many duplicate code and security issues and grade is **C**.  We need to improve code quality for o

[2017-04-21 04:40] GunpreetAhuja commented on #270
@yatna I agree with you, but it is that placeholders and labels both already been used in a few parts of the project. Moreover, the placeholders give a more dynamic look to the app which is always appealing.
As far as the concern regarding mandatory fields, it can be fulfilled without using labels as well:
- either in the placeholder field itself or
- outside the input box.
Also, radio buttons cou

[2017-04-21 15:44] HarinderKaur11 opened #286 "Empty urls referenced in Infohub urls.py"
I have been studying the code and noticed that signup and profile apps have empty urls.py files and these have been referenced in the main urls.py file of infohub. I have following concerns:

1. These should not be empty as these should reference to the views of its own views leading to increase in code reusability.
2. In case these are empty, these should not be included or at least be commented

[2017-04-21 16:26] mish24 commented on #286
The standard code structure requires urls.py to be present in every app of Django. If that was the case, there are many unused `models.py` there as well. But they're mostly not removed, as I've seen in other Django projects.

[2017-04-21 17:41] HarinderKaur11 commented on #286
@mish24 What I am trying to say is that, the purpose of having urls.py file is to map the urls to the view functions. If we have defined an app in django and there are functions in the views.py, these should be mapped via the urls of that app(in this case profile and signup app) to be able to reuse that app. Also, models and urls are different stories as models have the code for tables in the data

[2017-04-21 17:47] mikael19 opened #288 "Make use of Jinja inheritance to enhance code readability and load time"
Jinja/Python/Django make available a lot of helper to improve code readability and load time.
Make use of these features to enhance code readability and load time.

@medhach @MeepyMay
Here is a PR for this improvement:
https://github.com/systers/macc/pull/287

[2017-04-21 18:42] HarinderKaur11 commented on #271
@GunpreetAhuja The profile views are called via urls.py and yes webhub views are redundant

[2017-04-21 18:49] HarinderKaur11 opened #289 "Provision to change email id and verify that email address[Enhancement]"
While going through the profile module, I noticed that change email address functionality is missing and also if a user changes the email address it should be handled by separate view followed by verification of that email.

[2017-04-21 19:06] HarinderKaur11 opened #290 "Webhub urls.py referencing to the views of other apps"
Webhub urls.py file is referencing the view functions of other apps which should be referenced by the respective apps urls.py. It makes the code difficult to find and debug for the developer and backward referencing is also tiresome in this case.

[2017-04-22 05:39] mish24 commented on #289
#175 was approved by @medhach

[2017-04-22 05:41] mish24 commented on #290
Duplicacy like #286 and #273. These can be combined to one issue.

[2017-04-22 05:43] HarinderKaur11 commented on #289
I checked #175 but, I making a point that it should be there :)

[2017-04-22 05:45] HarinderKaur11 commented on #290
Yes, these can be but then it will be a big PR to merge, so its good to do in parts I guess, rest @medhach can tell

[2017-04-22 05:45] mish24 commented on #289
@HarinderGithub E-mail isn't something which must be allowed to change through frontend. Plus, we cannot really change the email id created through admin interface of Django.

[2017-04-22 05:54] HarinderKaur11 commented on #289
@mish24 all the apps have this functionality to change email address and also, we can change email address through django admin. Its just that we there no code in the views to change the email address. I have done it in other apps also. I strongly believe that it should be there.

[2017-04-22 23:52] mikael19 opened #291 "Add titles to all pages"
This is an improvement.
This requires that all pages have a title, rather than a link(displayed in the browser tab).
If approved, I, @kera99 shall take care of this.

[2017-04-22 23:54] mikael19 opened #292 "Add favicon to entire project."
This is an improvement.
This requires that a favicon is displayed in the browser tab, rather than an "empty" file icon.
If approved, I @kera99 shall take care of this.
@MeepyMay @medhach Can I?

[2017-04-22 23:56] mikael19 opened #293 "Uniform header"
This is an improvement.
This requires that all pages in the project have a uniform header design (though they can differ in specifics).
If approved,  I @kera99 shall take care of this.

[2017-04-22 23:58] #288 closed, assigned to nobody

[2017-04-23 00:25] GunpreetAhuja commented on #293
The pages in the project do have a common header style. Can you be more specific about it?

[2017-04-23 04:56] yatna commented on #293
@GunpreetAhuja I think kera99 is referring to the non-uniformity in the size and color of the headers as they are not same across all pages.

[2017-04-24 15:37] muddlebee commented on #293
@kera99 it need not be done now. First the UI should be uniform and consistent. Which is not yet done now. After that part is done. You can move ahead this with issue. Doing this will be futile as UI will be revamped so your work will be a waste. Rather wait for it.

[2017-04-24 16:18] mikael19 commented on #291
@MeepyMay @medhach @AngieSky ; Here is the PR: https://github.com/systers/macc/pull/296

[2017-04-24 16:28] mikael19 commented on #293
@anweshknayak . Ok, I will rather do it later. Thanks for that insight. ;)

[2017-05-17 02:21] #187 closed, assigned to nobody

[2017-05-17 17:00] GunpreetAhuja commented on #221
@medhach Can I go with this issue?

[2017-05-17 21:05] GunpreetAhuja commented on #167
@medhach I have solved this issue. Should I send PR?

[2017-05-18 05:24] medhach commented on #221
@GunpreetAhuja Sure go ahead

[2017-05-18 05:26] medhach commented on #167
@GunpreetAhuja Okay but you might want to ask the creator about the issue before you solve it to avoid double work. @yatna Have you solved this issue too? Else, we can go ahead with @GunpreetAhuja .

[2017-05-18 05:28] medhach commented on #293
@yatna @GunpreetAhuja Whats the status of this issue?

[2017-05-18 05:30] medhach commented on #292
@kera99 I think its a great idea. Are you still ready to work on this?

[2017-05-18 13:55] GunpreetAhuja commented on #293
@kera99  Was supposed to work on it. If she hasn't done anything yet, I can take the issue.

[2017-05-19 05:19] medhach commented on #293
@GunpreetAhuja Im assigning it to you.

[2017-05-19 11:13] GunpreetAhuja commented on #221
@medhach You can add this to milestone as well.

[2017-05-19 14:01] yatna commented on #167
@medhach PR sent #298 . Sorry for delaying the PR.

[2017-05-21 03:07] GunpreetAhuja opened #299 "Proper alignment of template files"
The template files are a bit illegible and their structure needs to be aligned properly.

[2017-05-22 05:06] GunpreetAhuja opened #300 "Multiple new post creation options in Safety Tools home page"
On the home page for pcsa: safety tools, 6 new post divisions appear. However, there should be only one if no posts are created. This needs to be corrected.

[2017-05-23 16:43] #293 closed, assigned to medhach

[2017-05-23 16:49] medhach commented on #300
We'll leave this alone till we get the project requirements from PCs. The 6 divisions come directly from the PCSA app.

[2017-05-23 16:50] medhach commented on #299
Go ahead and pull a request.

[2017-05-24 14:43] GunpreetAhuja commented on #293
@medhach I just missed committing some new added files. Please merge the new pull request as well.

[2017-05-24 23:03] GunpreetAhuja commented on #299
@medhach I have done this issue but there a some files that were modified in templates or added new and I missed them committing. I need those files merged first so that I can format them as well without having any conflicts. The files have been committed in pull request: https://github.com/systers/macc/pull/302

[2017-06-06 04:35] yatna opened #303 "Week1 : Mockups"
Login
![capture](https://cloud.githubusercontent.com/assets/8321130/26813809/8e87b936-4a9e-11e7-9cba-24b3be43f15d.PNG)

Signup
![capture1](https://cloud.githubusercontent.com/assets/8321130/26813919/478d2a56-4a9f-11e7-951f-ccd167c522e0.PNG)

Forgot Password
![capture2](https://cloud.githubusercontent.com/assets/8321130/26813820/9c7068f4-4a9e-11e7-87ac-4125c709f81f.PNG)

Dashboard
![capture3](https

[2017-06-06 16:48] medhach commented on #303
A few changes you can consider ->
1.  Add Names for forms Login and Signup.
2. Instead of M/F in gender(signup form), name the third choice 'Other'
Everything else is good, go ahead and pull a request with the scripts.
We'd like to see the application to be more mobile-friendly compared to last year. :)

[2017-06-06 16:57] yatna commented on #303
Sure, we will keep these suggestions in mind. ☺️

[2017-06-07 04:50] amittbhardwj commented on #250
@medhach the error says that "Please log in via your web browser and\n5.7.14 then try again.\n5.7.14  Learn more at\n5.7.14  https://support.google.com/mail/answer/78754 b62sm497511itc.16 - gsmtp')" This has to do with adding security information with associated google account.

[2017-06-08 05:08] amittbhardwj opened #305 "Couldn't save Posts with characters like ' ; ', ' " ' in description."
The description input in Posts for malaria app doesn't accept characters like semi-colon(;) and Double quotes("). These are general character than can be used by the user in writing description. these should be allowed.

[2017-06-08 05:15] amittbhardwj commented on #303
@yatna @medhach For login page, we can also add a checkbox for "Remember Me" to save credential for next time login. Also, we can lighten the color of header and footer ( just a suggestion). I have posted some screenshots in issue #229 , if you want to refer. :)

[2017-06-09 16:59] GunpreetAhuja commented on #303
Yes @amittbhardwj , we will be implementing the "Remember Me" checkbox. Thanks for the suggestion. :)

[2017-07-12 17:51] yatna opened #317 "Integrate Sphinx for automatic document Generation"
Sphinx is a tool that makes it easy to create intelligent and beautiful documentation automatically using .py files .

[2017-07-19 14:21] GunpreetAhuja opened #323 "[Typo] The description for the project"
Shouldn't it be "Server side" instead of "Serve side"?

[2017-07-20 08:29] medhach commented on #323
Correct this in the next PR.

[2017-07-20 08:29] #323 closed, assigned to nobody

[2017-07-22 01:10] GunpreetAhuja commented on #323
I don't think we can send PR for the description.

[2017-08-12 02:05] #299 closed, assigned to GunpreetAhuja

[2017-08-12 02:06] GunpreetAhuja commented on #305
@medhach This is no more an issue now. It has been resolved.

[2017-08-12 02:06] GunpreetAhuja commented on #292
@medhach This is done.

[2017-08-12 02:08] #300 closed, assigned to nobody

[2017-08-12 02:09] #271 closed, assigned to nobody

[2017-08-12 02:10] #269 closed, assigned to nobody

[2017-08-12 02:10] #266 closed, assigned to nobody

[2017-08-12 02:11] #261 closed, assigned to nobody

[2017-08-12 02:11] #231 closed, assigned to nobody

[2017-08-18 19:12] #224 closed, assigned to nobody

[2017-08-28 12:21] #270 closed, assigned to nobody

[2017-08-28 13:18] yatna commented on #317
Completed

[2017-08-28 13:18] #317 closed, assigned to nobody

[2017-08-28 13:20] #83 closed, assigned to nobody

[2017-08-28 13:20] yatna commented on #97
Done

[2017-08-28 13:20] #97 closed, assigned to nobody

[2017-08-28 13:20] #98 closed, assigned to nobody

[2017-08-28 13:20] #118 closed, assigned to nobody

[2017-08-28 13:21] #126 closed, assigned to nobody

[2017-08-28 13:21] #130 closed, assigned to yatna

[2017-08-28 13:21] #153 closed, assigned to yatna

[2017-08-28 13:21] #167 closed, assigned to yatna

[2017-08-28 13:21] #281 closed, assigned to nobody

[2017-08-28 13:21] #303 closed, assigned to nobody

[2017-08-28 13:21] #148 closed, assigned to yatna

[2017-08-31 02:03] #238 closed, assigned to nobody

[2017-08-31 02:03] #242 closed, assigned to nobody

[2017-08-31 02:03] #305 closed, assigned to nobody

[2017-12-03 16:27] apoorvasingh17 commented on #77
Hi, can I take this up?

[2017-12-29 03:10] Saichethan commented on #292
Check this out

https://goo.gl/images/e3syfn

[2017-12-29 07:04] GunpreetAhuja commented on #292
Favicon is always the logo of the organization. So we should preferably use the PeaceCorps logo.

[2017-12-29 10:00] Saichethan commented on #292
Ok I'm sorry and thank you for mentioning this

[2018-01-30 15:36] apoorvaagupta commented on #291
Hello, is this issue still open? If it is available, I would like to take it up.

[2018-01-30 15:39] apoorvaagupta commented on #240
Hello, Is this issue still open. I would like to take it up if no one else is working on it.

[2018-02-06 15:09] sara-02 commented on #240
@apoorvaagupta the only way to find out, is look through the open PRs, if none exists then go ahead and work on it.

[2018-02-06 15:11] GunpreetAhuja commented on #240
@apoorvaagupta There hasn't been any work done regarding this task. You can very well go ahead!

[2018-02-09 15:05] Tahirih-Natang opened #348 "Porting Unit Tests from Automated-Testing into MACC"
Tests should come along with the project or they are barely useless. Especially, unit tests are tightly coupled with code. Moving all the unit tests code in the automated-test repo into where the code base for MACC lives will be a good thing.
Let me know what you think @MeepyMay @medhach @Janiceilene

[2018-02-11 10:55] valerycodes opened #349 "Remove trailing "p" tag"
## Description
Remove trailing "p" tag on post display in view post.

## Mocks

![trailing_p_tag](https://user-images.githubusercontent.com/11312834/36072576-f7f894d8-0f21-11e8-9f69-506f3b737155.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-11 11:10] valerycodes opened #350 "Search Box Alignement in both Firefox and Chrome"
## Description
The Search boxes are not properly aligned when viewed on Firefox and Chrome browsers. Apart from making them to align properly, added to some style to it will also looks good

## Mocks

#Firefox Display
![firefox_search_box](https://user-images.githubusercontent.com/11312834/36072683-083984a4-0f24-11e8-94ac-bb74a4e98bbe.png)

#Chrome Display
![chrome_search_box](https://user-images.

[2018-02-11 11:19] valerycodes opened #351 "Multiple Display of single Post Instance"
## Description
A single post should display just a single instance. Remove multiply display of a particular Post instance in the FirstAide - safety tools app.

## Mocks
![multiple_post](https://user-images.githubusercontent.com/11312834/36072757-a83053ba-0f25-11e8-9d48-9b717c65abbd.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-11 11:35] valerycodes opened #352 "Storing phone number in model to follow internationally standardized format E.164"
## Description
This is likely to be the most universal way to store phone numbers, given that the app users may have international numbers to work with. In the current model, `BigIntegerField()` has been used to store phone numbers. Adding proper validation to it or replacing it with proper phone number field should get the job done

## Mocks
![contact](https://user-images.githubusercontent.com/11

[2018-02-11 12:00] valerycodes opened #353 "Internationalization and localization"
## Description
The goal of internationalization and localization is to allow a single Web application to offer its content in languages and formats tailored to the audience.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-15 07:14] mayburgos commented on #240
We're using a new Readme template moving forward.

[2018-02-15 07:14] #240 closed, assigned to nobody

[2018-02-15 07:15] mayburgos commented on #15
I think this has already been successfully completed. Closing now.

[2018-02-15 07:15] #15 closed, assigned to nobody

[2018-02-15 16:51] #9 closed

[2018-02-15 16:52] #23 closed, assigned to nobody

[2018-02-15 16:53] #54 closed, assigned to nobody

[2018-02-15 16:55] #76 closed, assigned to nobody

[2018-02-15 16:55] #214 closed, assigned to nobody

[2018-02-15 16:57] medhach commented on #353
@valerycodes This sounds like a good idea. How do you plan on proceeding?

[2018-02-15 16:59] medhach commented on #352
@valerycodes How do you plan on achieving this?

[2018-02-15 17:02] medhach commented on #351
@valerycodes These are not same instances. The Safety Tools page of the First Aide mobile app has 5 different categories and the posts in each level will represent each category.
You could add the headers for each section here so as to avoid the obvious confusion for new coders.
You can also improve the UI of this page to show the category names and posts when clicked on them, or if you have other

[2018-02-15 17:03] #212 closed, assigned to nobody

[2018-02-15 17:03] valeriecodes commented on #353
@medhach I think you meant @valerycodes :)

[2018-02-15 17:04] medhach commented on #350
@valerycodes You can go ahead with this. Make sure you make it compatible with all screen sizes. Once you're done, post screenshots so we can review them.

[2018-02-15 17:07] medhach commented on #348
@Tahirih-Natang I think its a good idea. Can you locate me to the tests that you want to add in the project?

[2018-02-15 20:32] Tahirih-Natang commented on #348
@medhach  here is some of the already written  [unit-tests ](https://github.com/systers/automated-testing/tree/develop/MACCTests2017/tests/unit) for this repo.

[2018-02-16 13:14] Tahirih-Natang commented on #351
@valerycodes @medhach  I also thought of it instances of thesame post.

IMO I think it should just be one form on the page, with a post category name as an option for the user to choose when creating a post

[2018-02-16 13:35] valerycodes commented on #352
This can be achieved by using a char field, validate it by employing some combination of formatting and then attempting to contact the number immediately to verify.

[2018-02-16 13:40] valerycodes commented on #353
@medhach by defining two different languages for the application, create urls specific for each of them, and make the application to support these two languages by enabling it in the templates.

[2018-02-16 13:44] Tahirih-Natang commented on #352
@valerycodes @medhach It can also be done by installing the django-phonenumber-field libray and then import it in the model
I can take on this one 💯

[2018-02-16 18:15] medhach commented on #351
@valerycodes Can you prepare mock screens for the same so we can review?

[2018-02-17 08:42] valerycodes commented on #351
@medhach  are asking me to prepare the mock up based on @Tahirih-Natang proposal ?

[2018-02-18 18:11] Tahirih-Natang commented on #351
@valerycodes @medhach , well I don't think this issue need another mockup since the feature has already been implemented. What needs to be done is to call the category name in the views instead of category id. Then clean up the views so that only one form should appear at a time.
![npost](https://user-images.githubusercontent.com/15211041/36355959-78811e76-14eb-11e8-8d43-bdea1fce98ce.png)

[2018-02-19 03:16] medhach commented on #351
@Tahirih-Natang I was asking for a mockup of the page with a list of all posts, what you've shown here is already implemented for the new post.
@valerycodes You can think of your own design if you have any too. The idea is to display the posts of each category separately. You could do it with one drop down to select category and display just those posts, or you could have a clickable list with the

[2018-02-19 08:03] Tahirih-Natang commented on #351
@medhach It has been implementted but wrongly done. The current implemtation requires users to memorize the different post ids which practically impossible to do. Maybe I should open a separate issue for that.

[2018-02-20 00:07] #350 closed, assigned to valerycodes

[2018-02-21 12:55] sara-02 commented on #292
@medhach as per @GunpreetAhuja comment this issue is already done, do we still need to keep this issue open?

[2018-02-21 12:57] sara-02 commented on #122
@medhach @anweshknayak the html page mentioned in the issue, returns a `404` :/

[2018-02-25 06:03] #352 closed, assigned to nobody

[2018-02-25 06:05] medhach commented on #353
okay @valerycodes What language would you like to add?

[2018-02-25 06:06] medhach commented on #351
@Tahirih-Natang Yes, you can open another issue for that. We will fix it.
And @valerycodes  Have you got an idea of what I was trying to say?

[2018-02-25 06:08] medhach commented on #349
@valerycodes Go ahead an submit a PR :)

[2018-02-25 06:40] medhach commented on #122
@sara-02 Do you still want to work on this? Else, we can close it for now.

[2018-02-25 06:41] medhach commented on #292
Closing issue. It has been resolved.

[2018-02-25 06:41] #292 closed, assigned to nobody

[2018-02-25 06:43] sara-02 commented on #122
@medhach No, I was not working on it, just stating that the description was not upto date

[2018-02-25 13:32] valerycodes commented on #351
Yea, @medhach Still figuring out the best way of representing a proper solution for it  :smile:

[2018-02-25 13:35] valerycodes commented on #353
well, it depends on the target users. But I think french, english and spanish will be a good start :smile:

[2018-02-26 07:51] Tahirih-Natang opened #358 "Repalcing Post Category ID with Post Category Name"
## Description
The current implementation of 'post category' functionality in safety tools requires users to memorize the different post ids which is practically impossible to do.  Post Category Name should be referenced in place of Post Category Id.

## Mocks
![pcf](https://user-images.githubusercontent.com/15211041/36642094-7c846cc2-1a3a-11e8-992c-aa9d3f09c179.png)

## Acceptance Criteria
### Up

[2018-02-26 13:39] sara-02 commented on #358
@Tahirih-Natang true that, but we still should be able to maintain the mapping between the post-category name and its id, either while sending data from the form to the backend, or at the backend itself.

[2018-02-27 01:23] medhach commented on #358
@Tahirih-Natang The user should not be able to create a new category, but they should be able to select from one of the categories that already exists, so you can map the names of the categories to the dropdown instead of having the id.
Please submit a mock of the intended change and we'll assign this issue to you so you can start working on it :)

[2018-02-27 01:26] medhach commented on #353
@valerycodes Please post the mockups of a few pages here and we'll review and assign this task to you so you can pull a request. With the mocks, make sure you mention what libraries have been used and how its been done. I am looking forward to the mockups :)

[2018-02-27 01:29] medhach commented on #348
Closing issue, since the PR #354 has been merged.

[2018-02-27 01:29] #348 closed, assigned to nobody

[2018-02-27 01:30] medhach commented on #291
@apoorvaagupta Can you provide mockups on how you'd like to proceed?

[2018-02-27 01:32] #290 closed, assigned to nobody

[2018-02-27 01:34] #289 closed, assigned to nobody

[2018-02-27 01:34] #277 closed, assigned to nobody

[2018-02-27 01:34] #150 closed, assigned to muddlebee

[2018-02-27 01:42] medhach commented on #122
Closing issue for now.

[2018-02-27 01:42] #122 closed, assigned to muddlebee

[2018-03-06 03:26] #349 closed, assigned to valerycodes

[2018-03-06 03:29] medhach commented on #358
@Tahirih-Natang Are you working on this? If yes, I'll assign the task to you

[2018-03-06 03:30] medhach commented on #353
@valerycodes Just checking in here. Are you working on this? If yes, I'll assign it to you

[2018-03-06 03:32] medhach commented on #351
@valerycodes Have you thought of any solution yet? Let me know your status on this one.

[2018-03-06 03:33] medhach commented on #291
@apoorvaagupta Are you working on this? If yes, I'll assign it to you.

[2018-03-06 03:36] medhach opened #361 "Tests to run on every travis build"
## Description
As a contributor,
I need to make sure that the unit tests run every time the travis CI builds
so that I can make sure the code will not break.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-03-06 04:57] Tahirih-Natang commented on #358
@medhach Yes, I am on it

[2018-03-06 05:35] valerycodes commented on #351
@medhach I will present the mock up soon

[2018-03-20 10:55] sara-02 commented on #120
License Type to be added. GPLv2

[2018-04-20 00:30] mayburgos opened #362 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-07-06 00:09] nfebe opened #363 "Add pytest and pytest runner"
## Description
Integrate pytest and implement it's runner to meet up with new [community standards for python](https://github.com/systers/systers.github.io/pull/231) currently under construction.

## Acceptance Criteria
- [x] Add pytest to dependencies
- [x] Change test runner from nose to pytest-runner

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mento

[2018-07-06 00:14] nfebe opened #364 "Transfer and modify unit-test for malaria-web app from automated testing"
## Description
As part of the python standards for systers which requires every repository to have and hosts it tests, tests at [ automated-testing/MACCTests2017/tests/unit/test_malaria_web.py ](https://github.com/systers/automated-testing/blob/develop/MACCTests2017/tests/unit/test_malaria_web.py) should be moved into `tests.py` for malaria-web module.

## Acceptance Criteria
- [x] Transfer tests

[2018-07-10 14:41] nfebe opened #366 "Add coverage.py reporting to macc"
## Description
Developers should be able to know how much of the code base have been tested.

## Acceptance Criteria
- [x] Add coverage.py runs in test suites
- [x] Add coverage report to README.md

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 2 mentor.

## Estimation
2 hours

[2018-07-10 22:16] nfebe opened #368 "Move tests for pcsa and pcghn apps"
## Description
Move tests from https://github.com/systers/automated-testing/blob/develop/MACCTests2017/tests/unit/test_models_pcsa.py, and https://github.com/systers/automated-testing/blob/develop/MACCTests2017/tests/unit/test_pcsaGHN.py into their respective MACC apps.

## Mocks
- [x] Move tests
- [x] Modify them to run

## Definition of Done
- [x] All of the required items are completed.
- [x] A

[2018-07-22 16:16] suhailsinghbains commented on #358
Is this issue still open ?

[2018-07-22 17:04] sara-02 commented on #358
@Tahirih-Natang Did you complete the work for this issue? Is it still open? Can it be re-assigned to @suhailsinghbains